<head>
    <style type="text/css">
        .demo {
            width: 200px;
            height: 400px;
            border-top: solid 1px #BBB;
            border-left: solid 1px #BBB;
            border-bottom: solid 1px #FFF;
            border-right: solid 1px #FFF;
            background: #FFF;
            overflow: scroll;
            padding: 5px;
        }
    </style>
    <script src="/js/jquery.js" type="text/javascript"></script>
    <script src="/js/jqueryFileTree/jqueryFileTree.js" type="text/javascript"></script>
    <link href="/js/jqueryFileTree/jqueryFileTree.css" rel="stylesheet" type="text/css" media="screen" />
    <script>
        $(document).ready( function() {
            $('#fileTree').fileTree({ script: '/postproduccion/dirlist/', multiFolder: false }, function(file) {
                $('#id_fichero')[0].value = file;
            });
            $('#id_fichero')[0].readOnly = true;
        });
    </script>
</head>
<form method="post" action="">
{% csrf_token %}
<div id="fileTree" class="demo"></div>
{{ form.as_p }}
<input type="submit" value="A&ntilde;adir" />
</form>
