<div class="portlet">
    <div class="portlet-header">Alertas del sistema (Centro de monitorizaci&oacute;n)</div>
    <div class="portlet-content" id="box-alertas">
        <span class="ajax-loader"></span>
    </div>
</div>

<script>
function ajax_alertas() {
    $.get("{% url alertas %}", function(data) {
        $("#box-alertas").html(data);
        $(".alerta-header").click(function () {
            $(this).find(".icon").toggleClass("minus").toggleClass("plus");
            $(this).parents(".alerta:first").find(".alerta-content").toggle();
        });
    }).complete(function() { setTimeout("ajax_alertas();", 300000); });
}

$(document).ready(function() {
    ajax_alertas();
});
</script>
