<div class="portlet">
    <div class="portlet-header">Producciones pendientes (Centro de monitorizaci&oacute;n)</div>
    <div class="portlet-content" id="box-pendientes">
        <span class="ajax-loader"></span>
   </div> 
</div>

<script>
function ajax_pendientes() {
    $.get("{% url pendientes %}", function(data) {
        $("#box-pendientes").html(data);
    }).complete(function() { setTimeout("ajax_pendientes();", 300000); });
}

$(document).ready(function() {
    ajax_pendientes();
});
</script>
