<div id="lista-alertas">
{% for i in lista %}
    {% if i.tipo == 'video-incompleto' %}
    <div class="{{ i.tipo }}">
        <div class="alerta">
            <div class="alerta-header"><span class="icon-title">Producci&oacute;n con id {{ i.v.id }}, esta incompleta.</span><span class="icon plus"></span></div>
            <div class="alerta-content">
                <ul class="item-alerta">
                    <li><span class="item-alerta-title">T&iacute;tulo de la producci&oacute;n:</span>{{ i.v.titulo }} </li>
                    <li><span class="item-alerta-title">Identificador:</span> {{ i.v.id }} </li>
                    <li><span class="item-alerta-title">Descripci&oacute;n de la alerta:</span>
                    <span class="item-alerta-content">No se ha terminado de definir la producci&oacute;n.</span></li>
                </ul>           
            </div>
            <div class="alerta-links">
                <ul>
                    <li class="item-alerta-links"><a class="edit-icon" href="{% url crear i.v.id %}">Editar v&iacute;deo</a></li>
                </ul> 
            </div>
        </div>
    </div>
    {% endif %}

    {% if i.tipo == 'trabajo-fail' %}
    <div class="{{ i.tipo }}">
        <div class="alerta">
            <div class="alerta-header"><span class="icon-title">El proceso con id {{ i.t.id }}, ha fallado.</span><span class="icon plus"></span></div>
            <div class="alerta-content">
                <ul class="item-alerta">
                    <li><span class="item-alerta-title">T&iacute;tulo de la producci&oacute;n:</span>{{ i.t.video.titulo }} </li>
                    <li><span class="item-alerta-title">Identificador:</span> {{ i.t.id }} </li>
                    <li><span class="item-alerta-title">Descripci&oacute;n de la alerta:</span>
                    <span class="item-alerta-content">La operaci&oacute;n realizada sobre esta producci&oacute;n ha fallado.</span></li>
                </ul>           
            </div>
            <div class="alerta-links">
                <ul>
                   <li class="item-alerta-links"><a class="edit-icon" href="{% url cola%}">Cola de procesado</a></li>
                   <li class="item-alerta-links"><a class="edit-icon" href="{% url mostrar_log i.t.id %}">Registro del sistema de la operaci&oacute;n</a></li>
                </ul> 
            </div>
        </div>
    </div>
    {% endif %}

    {% if i.tipo == 'token-caducado' %}
    <div class="{{ i.tipo }}">
        <div class="alerta">
            <div class="alerta-header"><span class="icon-title">La producci&oacute;n con id {{ i.t.id }}, ha caducado su ticket.</span><span class="icon plus"></span></div>
            <div class="alerta-content">
                <ul class="item-alerta">
                    <li><span class="item-alerta-title">T&iacute;tulo de la producci&oacute;n:</span>{{ i.t.video.titulo }} </li>
                    <li><span class="item-alerta-title">Identificador:</span> {{ i.t.id }} </li>
                    <li><span class="item-alerta-title">Descripci&oacute;n de la alerta:</span>
                    <span class="item-alerta-content">El ticket enviado al autor de la producci&oacute;n ha sido caducado sin ser atentido.</span></li>
                </ul>           
            </div>
            <div class="alerta-links">
                <ul>
                   <li class="item-alerta-links"><a class="edit-icon" href="{% url gestion_tickets i.t.id%}">Gesti&oacute;n de ticket</a></li>
                </ul> 
            </div>
        </div>
    </div>
    {% endif %}

    {% if i.tipo == 'ejecutable' %}
    <div class="{{ i.tipo }}">
        <div class="alerta">
            <div class="alerta-header"><span class="icon-title">Error al ejecutar la aplicaci&oacute;n: {{ i.exe }}</span><span class="icon plus"></span></div>
            <div class="alerta-content">
                <ul class="item-alerta">
                    <li><span class="item-alerta-title">Descripci&oacute;n de la alerta:</span>
                    <span class="item-alerta-content">Se ha producido un error al intentar ejecutar la aplicaci&oacute;n: {{ i.exe }}, es necesario revisar la configuraci&oacute;n del sistema.</span></li>
                </ul>           
            </div>
            <div class="alerta-links">
                <ul>
                   <li class="item-alerta-links"><a class="edit-icon" href="{% url config %}">Acceder a la configuraci&oacute;n del sistema</a></li>
                </ul> 
            </div>
        </div>
    </div>
    {% endif %}

    {% if i.tipo == 'ruta' %}
    <div class="{{ i.tipo }}">
        <div class="alerta">
            <div class="alerta-header"><span class="icon-title">Permiso denegado sobre el directorio: {{ i.path }}</span><span class="icon plus"></span></div>
            <div class="alerta-content">
                <ul class="item-alerta">
                    <li><span class="item-alerta-title">Descripci&oacute;n de la alerta:</span>
                    <span class="item-alerta-content">Ha sido imposible acceder o crear el directorio en la ruta: {{ i.path }}, es necesario revisar la configuraci&oacute;n del sistema.</span></li>
                </ul>           
            </div>
            <div class="alerta-links">
                <ul>
                   <li class="item-alerta-links"><a class="edit-icon" href="{% url config %}">Acceder a la configuraci&oacute;n del sistema</a></li>
                </ul> 
            </div>
        </div>
    </div>
    {% endif %}

    {% if i.tipo == 'disco' %}
    <div class="{{ i.tipo }}">
        <div class="alerta">
            <div class="alerta-header"><span class="icon-title">Espacio en disco pr&oacute;ximo a agotarse.</span><span class="icon plus"></span></div>
            <div class="alerta-content">
                <ul class="item-alerta">
                    <li><span class="item-alerta-title">Descripci&oacute;n de la alerta:</span>
                    <span class="item-alerta-content">El sistema de fichero en el que se encuentra el directorio: {{ i.path }} est&aacute; pr&oacute;ximo a quedarse sin espacio ({{ i.cap }}), es neceario revisar la configuración sistema.</span></li>
                </ul>           
            </div>
            <div class="alerta-links">
                <ul>
                   <li class="item-alerta-links"><a class="edit-icon" href="{% url status %}">Acceder a la configuraci&oacute;n del sistema</a></li>
                </ul> 
            </div>
        </div>
    </div>
    {% endif %}

    {% if i.tipo == 'cron' %}
    <div class="{{ i.tipo }}">
        <div class="alerta">
            <div class="alerta-header"><span class="icon-title">El gestor de tareas programas del sistema (CRON) esta desactivado.</span><span class="icon plus"></span></div>
            <div class="alerta-content">
                <ul class="item-alerta">
                    <li><span class="item-alerta-title">Descripci&oacute;n de la alerta:</span>
                    <span class="item-alerta-content">Las tareas programas est&aacute;n desactivadas, no se codificar&aacute; ning&uacute;n video hasta que se active el gestor de tareas programas del sistema (CRON). Revise la configuraci&oacute;n del sistema.</span></li>
                </ul>           
            </div>
            <div class="alerta-links">
                <ul>
                   <li class="item-alerta-links"><a class="edit-icon" href="{% url status %}">Acceder a la configuraci&oacute;n del sistema</a></li>
                </ul> 
            </div>
        </div>
    </div>
    {% endif %}

    {% empty %}
        <div class="mensaje info">No existe ninguna alerta en el sistema</div></li>
{% endfor %}
</div>


<ul class="portlet-bottom-link">
    <li><a class="link-section" href="{% url alertas %}">Acceso al listado completo</a></li>
</ul>
