{% if list %}
<table id="tabla">
  <thead>
    <th class="id">ID</th>
    <th class="date">Fecha</th>
    <th class="title">T&iacute;tulo</th>
    <th class="author">Autor</th>
  </thead>
  <tbody>
    {% for video in videos %}
    <tr class="{%cycle 'odd' 'even' %}">
        <td class="id">{{ video.id }}</td>
        <td class="date">{{ video.informeproduccion.fecha_validacion|date:"G:i:s - d/m/Y" }}</td>
        <td class="title"><a href="{% url estado_video video.id %}">{{ video.titulo }}</a></td>
        <td class="author">{{ video.autor }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
    <div class="mensaje info">No hay ning&uacute;n elemento que mostrar.</div></td>
{% endif %}
<ul class="portlet-bottom-link">
    <li><a class="link-section" href="{% url videoteca %}">Acceso a la videoteca</a></li>
</ul>
