<ul>
{% for i in lista %}
    {% if i.tipo == 'video-incompleto' %}
    <li class="{{ i.tipo }}">El vídeo #{{ i.v.id }} con título "{{ i.v.titulo }}" no se ha terminado de definir. (<a href="{% url crear i.v.id %}">Editar vídeo</a>)</li>
    {% endif %}

    {% if i.tipo == 'trabajo-fail' %}
    <li class="{{ i.tipo }}">La de las operación #{{ i.t.id }} sobre el vídeo con título "{{ i.t.video.titulo }}" ha fallado. (<a href="{% url cola %}">Ver la cola de proceso</a> | <a target="_blank" href="{% url mostrar_log i.t.id %}">Ver el log de la operación</a>)</li>
    {% endif %}

    {% if i.tipo == 'token-caducado' %}
    <li class="{{ i.tipo }}">El ticket envíado al autor del vídeo #{{ i.t.video.id }} con título "{{ i.t.video.titulo }}" se ha caducado sin ser atendido.</li>
    {% endif %}

    {% if i.tipo == 'ejecutable' %}
    <li class="{{ i.tipo }}">No se puede ejecutar el programa '{{ i.exe }}'. (<a href="{% url config %}">Ver configuraci&oacute;n</a>)</li>
    {% endif %}

    {% if i.tipo == 'ruta' %}
    <li class="{{ i.tipo }}">Permiso denegado sobre el directorio '{{ i.path }}'. (<a href="{% url config %}">Ver configuraci&oacute;n</a>)</li>
    {% endif %}

    {% if i.tipo == 'disco' %}
    <li class="{{ i.tipo }}">El sistema de ficheros que del directorio '{{ i.path }}' está próximo a quedarse sin espacio ({{ i.cap }}). (<a href="{% url config %}">Ver configuraci&oacute;n</a>)</li>
    {% endif %}

    {% empty %}
    <li>Actualmente no existe ninguna alerta</li>
{% endfor %}
</ul>
