{% extends "postproduccion/form-nueva-produccion.html" %}

{% block numero-paso %}paso1{% endblock %}
{% block contenido-paso %} 

        <div id="progreso" class="uno"></div>
        <h2>Paso 1: Incluye los datos b&aacute;sicos de la producci&oacute;n</h2>
        <form method="post" action="">
            {% csrf_token %}
            {{ vform.as_p }}
            {{ iform.as_p }}
            <hr/>
            <input type="submit" value="Siguiente" />
            <input type="reset" value="Restaurar formulario" />

        </form>

{% endblock %}
