{% extends "postproduccion/section-info-produccion.html" %}

{% block current-resumen %} class="current" {% endblock %}
{% block section-content %} 


<div id="content-left">
<h2>Estado actual</h2>
<div class="mensaje info">{{ v.get_status_display }}</div>

<h2>Histórico de incidencias</h2>
<table id="tabla">
    <thead>
        <th>Emisor</th><th>Fecha</th><th>Aceptado</th><th>Comentario</th>
    </thead>
    <tbody>
        {% for inci in v.informeproduccion.incidenciaproduccion_set.all %}
        <tr><td>{{ inci.get_emisor_display }}</td><td>{{ inci.fecha }}</td><td>{{ inci.aceptado }}</td><td>{{ inci.comentario }}</td></tr>

        {% empty %}
        <tr><td colspan="4"><div class="mensaje info">El hist&oacute;rico de incidencias esta vac&iacute;o.</div></td></tr>


        {% endfor %}
    </tbody>
</table>


<h2>Histórico de codificaci&oacute;n</h2>
<table id="tabla">
    <thead>
        <th>Tipo</th><th>Fecha</th><th>Estado</th>
    </thead>
    <tbody>
        {% for hist in v.informeproduccion.historicocodificacion_set.all %}
        <tr><td>{{ hist.get_tipo_display }}</td><td>{{ hist.fecha }}</td><td>{{ hist.status }}</td>
        {% empty %}
        <tr><td colspan="3"><div class="mensaje warning">El hist&oacute;rico de codificaci&oacute;n no estar&aacute; disponible hasta que se termine la producci&oacute;n.</div></td></tr>
        {% endfor %}
    </tbody>
</table>
</div>


    <div id="content-right">
        <div class="column">
            <div class="portlet">
                <div class="portlet-header">Informaci&oacute;n de inter&eacute;s</div>
                <div class="portlet-content">
                    <ul> 
    <li class="tip">Falta personalizar este mensaje</li>
                    </ul>
                </div>
            </div>

        </div>     
    </div>





{% endblock %}
