<head>
    <style type="text/css">
        .demo {
            width: 200px;
            height: 400px;
            border-top: solid 1px #BBB;
            border-left: solid 1px #BBB;
            border-bottom: solid 1px #FFF;
            border-right: solid 1px #FFF;
            background: #FFF;
            overflow: scroll;
            padding: 5px;
        }
    </style>
    <script src="/static/js/jquery.js" type="text/javascript"></script>
    <script src="/static/js/jqueryFileTree/jqueryFileTree.js" type="text/javascript"></script>
    <link href="/static/js/jqueryFileTree/jqueryFileTree.css" rel="stylesheet" type="text/css" media="screen" />
    <script>
        {% for form in formset.forms %}
        $(document).ready( function() {
            $('#fileTree-{{ forloop.counter0 }}').fileTree({ script: '/postproduccion/dirlist/', multiFolder: false }, function(file) {
                $('#id_ficheroentrada_set-{{ forloop.counter0 }}-fichero')[0].value = file;
            });
            $('#id_ficheroentrada_set-{{ forloop.counter0 }}-fichero')[0].readOnly = true;
        });
        {% endfor %}
    </script>
</head>

<form method="post" action="">
{% csrf_token %}
{{ formset.management_form }}
{% for form in formset.forms %}
<h3>{{ form.titulo }}</h3>
<div id="fileTree-{{ forloop.counter0 }}" class="demo"></div>
{{ form.as_p }}
{% endfor %}
<input type="submit" value="A&ntilde;adir" />
</form>
