{% extends "postproduccion/base.html" %}


{% block body-class %}index{% endblock %}

{% block content %}


<div id="page-index">

<div id="main-header">
     <div id="inner-header">
        <div id="logo"><a title="Ir a Inicio" href="{% url index %}">dpCat</a></div>
        <div id="inner-menu-content">
        <ul>
            <li><a class="home" href="{% url index %}">Inicio</a></li>
            <li><a class="videoteca" href="{% url videoteca %}">Videoteca</a></li>
            <li><a class="monitorizacion" href="{% url enproceso %}">Centro de monitorizaci&oacute;n</a></li>
            <li><a class="nuevaproduccion" href="{% url crear %}">Nueva producci&oacute;n</a></li>
        </ul>
        <ul class="utils">
            <li>Hola, {{ user }} | <a title="Configuraci&oacute;n del sistema" href="{% url config %}">Configuraci&oacute;n</a> | <a title="Cerrar sesi&oacute;n en dpCat" href="{% url django.contrib.auth.views.logout %}">Cerrar sesi&oacute;n</a></li>
        </ul>
        </div>
    </div>
</div>


<div id="main-content">
    <div id="inner-content">
        {% block section-title %} {% endblock %}

        {% if messages %}
            {% for message in messages %}
            <div class="mensaje {{ message.tags }}"><a class="cerrar" title="Cerrar notificaci&oacute;n"></a>{{ message }}</div>
            {% endfor %}
        {% endif %}

        {% block contenido %} {% endblock %}

    </div>
</div>

<div id="main-footer">
    <div id="inner-footer">
    &copy; dpCat - 2011
    </div>
</div>

</div>

{% endblock %}
