{% extends "postproduccion/base.html" %}


{% block body-class %}index{% endblock %}

{% block content %}


<div id="page-index">

<div id="main-header">
    <div id="inner-header"> 
        <div id="logo"><a href="#">dpCat</a></div>
    </div>
    <div id="inner-menu">
        <div id="inner-menu-content">
        <ul>
            <li><a href="{% url index %}">Inicio</a></li>
            <li><a href="#">Videoteca</a></li>
            <li><a href="#">Centro de monitorizaci&oacute;n</a></li>
            <li><a href="{% url crear %}">Nueva producci&oacute;n</a></li>
        </ul>
        <ul class="utils">
                <li><a class="icon-config" title="Configuraci&oacute;n del sistema" href="{% url config %}">Configuraci&oacute;n</li>
                <li><a class="icon-logout" title="Cerrar sesi&oacute;n en dpCat" href="{% url django.contrib.auth.views.logout %}">Cerrar sesi&oacute;n</a></li>
                </ul>
        </div>
    </div>

</div>


<div id="main-content">
    <div id="inner-content">
        {% block section-title %} {% endblock %}

        {% block contenido %} {% endblock %}

    </div>
</div>
<div id="main-footer">
    <div id="inner-footer">
    &copy; dpCat - 2011
    </div>
</div>




<pre>
    <a href="{% url enproceso %}">X - Producciones en proceso</a>
    <a href="{% url pendientes %}">X - Pendientes del operador</a>
    <a href="{% url alertas %}">X Alertas</a>
    <a href="{% url cola %}">Cola</a>
    <a href="{% url log %}">X - Log</a>
    <a href="{% url oldlog %}">X - Log anterior</a>
    <a href="{% url config %}">Configuraci&oacute;n</a>
    <a href="{% url status %}">Status</a>
</pre>

</div>

{% endblock %}
