{% extends "postproduccion/base.html" %}


{% block body-class %}login{% endblock %}
{% block title %} - Prueba del primer titulo {% endblock %}


{% block content %}

<div id="main-login">
<h1>dpCat</h1>
<div id="loginbox">
    {% if form.errors %}
    <p class="mensaje rojo">Los datos introducidos no coinciden con ning&uacute;n usuario existente.</p>
    {% endif %}

    <form method="post" action="{% url django.contrib.auth.views.login %}">
        {% csrf_token %}
        <ul>
            <li>
            {{ form.username.label_tag }} 
            {{ form.username }}
            </li>
            <li>
            {{ form.password.label_tag }}
            {{ form.password }}
            </li>
        </ul>
        <input type="submit" value="login" />
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
</div>
</div>
<div class="footer-box">
    <div class="footer-content">
        <ul>
           <li><a href="www.udv.ull.es">P&aacute;gina web del proyecto</a></li>
           <li><a href="www.udv.ull.es">Acerca de</a></li>
            <li class="name">2011 &copy; dpCat</li>
        </ul>
    </div>
</div>





{% endblock %}
