{% extends "postproduccion/section-info-produccion.html" %}

{% block current-metadata %} class="current" {% endblock %}
{% block section-content %} 


<div id="content-left">
<h2>Metadata t&eacute;cnica</h2>



<table id="tabla">
    <thead>
        <th class="meta-param">Par&aacute;metros de audio</th><th>valor</th>
    </thead>
   <tbody>
         <tr><td colspan="2" class="section">General</td></tr>
        <tr><td>Complete name</td><td></td></tr>
        <tr><td>Format</td><td></td></tr>
        <tr><td>Codec ID</td><td></td></tr>
        <tr><td>File size</td><td>{{ v.tecdata.size }}</td></tr>
        <tr><td>Duration</td><td>{{ v.tecdata.duration }}</td></tr>
        <tr><td>Overall bit rate</td><td></td></tr>
        <tr><td>Encoded date</td><td></td></tr>
        <tr><td>Tagged date</td><td></td></tr>
        <tr><td>Writing library</td><td></td></tr>
        <tr><td>Copyright</td><td></td></tr>
        <tr><td colspan="2" class="section">Video</td></tr>
        <tr><td>ID</td><td></td></tr>
        <tr><td>Format</td><td></td></tr>
        <tr><td>Format/Info</td><td></td></tr>
        <tr><td>Format profile</td><td></td></tr>
        <tr><td>Format settings, CABAC</td><td></td></tr>
        <tr><td>Format settings, ReFrames</td><td></td></tr>
        <tr><td>Codec ID</td><td></td></tr>
        <tr><td>Codec ID/Info</td><td></td></tr>
        <tr><td>Duration</td><td>{{ v.tecdata.duration }}</td></tr>
        <tr><td>Bit rate mode</td><td></td></tr>
        <tr><td>Bit rate</td><td></td></tr>
        <tr><td>Width</td><td>{{ v.tecdata.video_width }}</td></tr>
        <tr><td>Height</td><td>{{ v.tecdata.video_height }}</td></tr>
        <tr><td>Display aspect ratio</td><td></td></tr>
        <tr><td>Frame rate mode</td><td></td></tr>
        <tr><td>Frame rate</td><td>{{ v.tecdata.video_rate }}</td></tr>
        <tr><td>Standard</td><td></td></tr>
        <tr><td>Resolution</td><td></td></tr>
        <tr><td>Colorimetry</td><td></td></tr>
        <tr><td>Scan type</td><td></td></tr>
        <tr><td>Bits/(Pixel*Frame)</td><td></td></tr>
        <tr><td>Stream size</td><td></td></tr>
        <tr><td>Language</td><td></td></tr>
        <tr><td>Encoded date</td><td></td></tr>
        <tr><td>Tagged date</td><td></td></tr>
        <tr><td colspan="2" class="section">Audio</td></tr>
        <tr><td>ID</td><td></td></tr>
        <tr><td>Format</td><td>{{v.tecdata.audio_codec }}</td></tr>
        <tr><td>Format/Info</td><td></td></tr>
        <tr><td>Format version</td><td></td></tr>
        <tr><td>Format Profile</td><td></td></tr>
        <tr><td>Format settings, SBR</td><td></td></tr>
        <tr><td>Codec ID</td><td></td></tr>
        <tr><td>Duration</td><td>{{ v.tecdata.duration }}</td></tr>
        <tr><td>Bit rate mode</td><td></td></tr>
        <tr><td>Bit rate</td><td>{{ v.tecdata.audio_bitrate }}</td></tr>
        <tr><td>Maximum bit rate</td><td></td></tr>
        <tr><td>Channel(s)</td><td>{{ v.tecdata.audio_channels }}</td></tr>
    </tbody>
</table>



<div>audio_bitrate: {{ v.tecdata.audio_bitrate }}</div>
<div>audio_channels: {{ v.tecdata.audio_channels }}</div>
<div>audio_codec: {{ v.tecdata.audio_codec }}</div>
<div>NO USADO audio_rate: {{ v.tecdata.audio_rate }}</div>
<div>bitrate: {{ v.tecdata.bitrate }}</div>
<div>duration: {{ v.tecdata.duration }}</div>
<div>format: {{ v.tecdata.format }}</div>
<div>size: {{ v.tecdata.size }}</div>
<div>video_bitrate: {{ v.tecdata.video_bitrate }}</div>
<div>video_codec: {{ v.tecdata.video_codec }}</div>
<div>video_color: {{ v.tecdata.video_color }}</div>
<div>video_height: {{ v.tecdata.video_height }}</div>
<div>video_rate: {{ v.tecdata.video_rate }}</div>
<div>video_wh_ratio: {{ v.tecdata.video_wh_ratio }}</div>
<div>video_width: {{ v.tecdata.video_width }}</div>

</div>

<div id="content-right">
<div id="right-block">
    <h3 class="links">Tipo de metadata</h3>
    <ul>
        <li><a href="{% url definir_metadatos_oper v.id %}">Metadata principal</a></li> 
        <li><a href="{% url media_info v.id %}">Metadata t&eacute;cnica</a></li> 
    </ul>
</div>

    <div id="right-block">
        <h3>Informaci&oacute;n de inter&eacute;s</h3>
        <ul>
            <li class="tip">Poner descripci&oacute;n o enlaces sobre esta tabla</li>
        </ul>
    </div>
</div>



{% endblock %}

