{% extends "postproduccion/form-nueva-produccion.html" %}

{% block numero-paso %}paso3{% endblock %}

{% block contenido-paso %} 

<div id="progreso" class="tres"></div>
<h2>Paso 3: Revisa y valida los datos de la nueva producci&oacute;n</h2>


    <h3>Datos de la nueva producci&oacute;n:</h3>
{% if v.plantilla %}
    <p><label>Plantilla:</label><input type="text" value="{{ v.plantilla.nombre }}" readonly disabled="disabled"></p> 
{% endif %}
    <p><label>T&iacute;tulo:</label><input type="text" value="{{ v.titulo }}" readonly disabled="disabled"></p>
    <p><label>Autor:</label><input type="text" value="{{ v.autor }}" readonly disabled="disabled"></p>
    <p><label>Email:</label><input type="text" value="{{ v.email }}" readonly disabled="disabled"></p>
    <p><label>Observaci&oacute;n</label><textarea cols="40" rows="10" readonly disabled="disabled">{{ v.informeproduccion.observacion }}</textarea></p>
    <p><label>Requiere aprobaci&oacute;n</label><input type="checkbox" {{ v.informeproduccion.aprobacion|yesno:"checked," }} disabled="disabled"></p>
    <h3>Fichero(s) de entrada:</h3>
<p>
{% for f in v.ficheroentrada_set.all %}
{% if v.plantilla %}
  <label>{{ f.tipo.nombre }}</label>
    {% else %}
    <label>Entrada</label>
    {% endif %}
    <input type="text" value="{{ f.fichero }}" readonly disabled="disabled"><br/><br/>
    {% endfor %}
</span></p>
</ul>

<hr/>
<form method="post" action="">
    {% csrf_token %}
    <input type="submit" value="Terminar y procesar" />
<div id="volver"><a class="volver" href="{% url postproduccion.views.crear v.id %}">Modificar</a></div>




</form>   




{% endblock %}
