{% extends "postproduccion/base-2-1.html" %}

{% block page-title %}Configuraci&oacute;n{% endblock %}
{% block section-class %} class = "formulario config" {% endblock %}
{% block section-title %}<h1>Configuraci&oacute;n del sistema</h1>{% endblock %}
{% block section-description %}{% endblock %}

{% block section-content %} 

    <div class="formulario-nueva">
        <form method="post" action="" class="form-nueva">
        <ul>
            {% csrf_token %}
            {{ form.as_ul }}
            </ul>
            <hr/>
            <input type="submit" value="Guardar" />
            <input type="reset" value="Restaurar formulario" />

        </form>
    </div>


{% endblock %}

{% block section-widget %}

            <div class="portlet">
                <div class="portlet-header">Detalles de configuraci&oacute;n</div>
                <div class="portlet-content">
                    <ul> 
                <li><a class="link" href="{% url config %}">Configuraci&oacute;n del sistema</a></li> 
                <li><a class="link" href="{% url status %}">Ver el estado del sistema</a></li> 
                <li><a class="link" href="{% url config_plugin %}">Configuraci&oacute;n del plugin: Clipbucket</a></li> 
                    </ul>
                </div>
            </div>
{% endblock %}





