{% extends "postproduccion/base-2-1.html" %}

{% block page-title %}Informe de producci&oacute;n{% endblock %}
{% block page-script %} <script type="text/javascript" src="/static/jwplayer/jwplayer.js"></script>{% endblock %}
{% block section-class %} class="informe-video"{% endblock %}
{% block section-title %}<h1>Informe de la producci&oacute;n: {{v.titulo}}</h1>{% endblock %}
{% block section-description %}

<div id="info-menu">
    <ul id="tab-menu">
        <li {% block current-resumen %} {% endblock %}> <a class="resumen" href="{% url estado_video v.id %}">Resumen de producci&oacute;n</a></li>
        <li {% block current-metadata %}{% endblock %}><a class="meta" href="{% url definir_metadatos_oper v.id %}">Metadata</a></li>
        {% if v.status != 'LIS' %}<li {% block current-ticket %} {% endblock %}><a class="ticket" href="{% url gestion_tickets v.id %}">Gesti&oacute;n de ticket</a></li>{% endif %}
    </ul>
</div>
{% endblock %}

{% block section-widget %}
     <div class="portlet">
        <div class="portlet-header">Estado actual de la producci&oacute;n</div>
        <div class="portlet-content">
            <ul><li>{{ v.get_status_display }}</li></ul>
        </div>
     </div>

     <div class="portlet">
        <div class="portlet-header">Acciones disponibles</div>
        <div class="portlet-content">
            <ul>
                {% if v.status == 'LIS' %}
                    <li class="publicar"><a class="publicar"href="">Publicar producci&oacute;n</a></li>
                {% endif %}
                {% if v.status == 'ACE' or v.status == 'PTO' %}
                    <li class="validar"><a class="validar"href="{% url validar_produccion v.id %}">Validar producci&oacute;n</a></li>
                {% endif %}
                <li><a class="eliminar" href="{% url borrar v.id %}">Eliminar producci&oacute;n</a></li>

                {% if v.status != "INC" and v.status != "DEF" and v.status != "PRV" %}
                    <li><a class="chain" href="{% url stream_video v.id %}">Descargar video</a></li>

                {% endif %}


            </ul>
        </div>
    </div>

    {% block section-widget2 %}{% endblock %}
{% endblock %}
