{% extends "postproduccion/base-2-1.html" %}

{% block page-title %}Informe de producci&oacute;n{% endblock %}
{% block page-script %} <script type="text/javascript" src="/static/jwplayer/jwplayer.js"></script>{% endblock %}
{% block section-class %} class="informe-video"{% endblock %}
{% block section-title %}<h1>Informe de la producci&oacute;n: {{v.titulo}}</h1>{% endblock %}
{% block section-description %}

<div id="info-menu">
    <ul id="tab-menu">
        <li {% block current-resumen %} {% endblock %}> <a class="resumen" href="{% url estado_video v.id %}">Resumen de producci&oacute;n</a></li>
        <li {% block current-metadata %}{% endblock %}><a class="meta" href="{% url definir_metadatos_oper v.id %}">Metadata</a></li>
        {% if v.status != 'LIS' %}<li {% block current-ticket %} {% endblock %}><a class="ticket" href="{% url gestion_tickets v.id %}">Gesti&oacute;n de ticket</a></li>{% endif %}
    </ul>
</div>
{% endblock %}

{% block section-widget %}
     <div class="portlet">
        <div class="portlet-header">Estado actual de la producci&oacute;n</div>
        <div class="portlet-content">
            <ul><li class="estado">{{ v.get_status_display }}</li></ul>
        </div>
     </div>

     <div class="portlet">
        <div class="portlet-header">Acciones disponibles</div>
        <div class="portlet-content">
            <ul>
                {% if v.status == 'LIS' %}
                     <div id="dialog-publicar" title="¿Publicar producci&oacute;n?">
                        <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>El proceso de publicaci&oacute;n de una producci&oacute;n se encuentra actualmente en proceso de desarrollo.</p>
                    </div> 
                    <li><a class="publicar"href="{% url publicar v.id %}">Publicar producci&oacute;n</a></li>
                {% endif %}
                {% if v.status == 'ACE' or v.status == 'PTO' %}
                     <div id="dialog-validar" title="¿validar producci&oacute;n?">
                        <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
                      Revise todos los datos de la producción antes de continuar, este proceso es irreversible.</p>
                    </div>
                    <li><a class="validar"href="{% url validar_produccion v.id %}">Validar producci&oacute;n</a></li>
                {% endif %}
                <li>
                    <div id="dialog-eliminar" title="¿Eliminar producci&oacute;n?">
                        <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>La producci&oacute;n ser&aacute; eliminada de forma permanente y no podr&aacute; ser recuperada.</p>
                    </div>
                <a class="eliminar" href="{% url borrar v.id %}">Eliminar producci&oacute;n</a></li>
                {% if v.status != "INC" and v.status != "DEF" and v.status != "PRV" %}
                    <li><a class="descargar" href="{% url stream_video v.id %}">Descargar video</a></li>
                {% endif %}
            </ul>
        </div>
    </div>

    {% block section-widget2 %}{% endblock %}
{% endblock %}
