{% extends "postproduccion/base-2-1.html" %}

{% block page-title %}Centro de monitorizaci&oacute;n{% endblock %}
{% block section-class %} {% endblock %}
{% block section-title %}<h1>Centro de monitorizaci&oacute;n</h1>{% endblock %}
{% block section-description %}<h2>Cola de procesamiento</h2>{% endblock %}

{% block section-content %}
<div id="progressbar"></div>
<div id="progressbartext"></div>
<table id="tabla" class="cola">
    <thead>
        <th class="id">ID</th>
        <th class="type">Informaci&oacute;n</th>
        <th class="date">Fecha</th>
        <th>T&iacute;tulo</th>
        <th class="log">Log</th>
    </thead>
    <tbody>
    </tbody>
</table>
{% endblock %}

{% block section-widget %}
            <div class="portlet">
                <div class="portlet-header">Informaci&oacute;n de inter&eacute;s</div>
                <div class="portlet-content">
                    <ul> 
                        <li class="tip">Poner descripci&oacute;n o enlaces sobre esta tabla</li>
                    </ul>
                </div>
            </div>
{% endblock %}

{% block page-script %}
    <script type="text/javascript">
        function creaLinea(data) {
            str = '<td class="id">' + data['id'] + '</td>';
            str += '<td><ul><li>Tipo: ' + data['tipo'] + '</li>';
            str += '<li>Estado: <span>' + data['status'] + '</span><br/>';
            if (data['progress']) {
                str += '<div id="progressbar' + data['id'] + '"></div>';
                str += '<div class="progressbartext">' + data['progress'] + ' %</div>';
            }
            str += '</li></td>';
            if (data['comienzo'] || data['fin']) {
                str += '<td class="date"><ul>';
                if (data['comienzo']) {
                    str += '<li>' + data['comienzo'] + ' - Inicio</li>';
                }
                if (data['fin']) {                    
                   str += '<li>' + data['fin'] + ' - Fin</li>';
                }
                str +='</ul></td>';
            } else {
                str += '<td class="date">&nbsp;</td>';
            }

            str += '<td><a class="link" href="' + data['v-url'] + '">' + data['v-titulo'] + '</a></td>';

            if (data['logurl']) {
                str += '<td class="log"><a class="chain" href="' + data['logurl'] +'" target="_blank">' + data['logfile'] +'</a></td>';
            } else {
                str += '<td class="log">&nbsp;</td>';
            }
            return str;
        }

        function actualizaTabla(data) {
            // Comprueba si hay elementos en cola o no.
            if (data.length) {
                if ($("tbody").find("div.mensaje").length)
                    $("tbody").empty(); 
            } else {
                if (!$("tbody").find("div.mensaje").length)
                    $("tbody").html('<tr><td colspan="5"><div class="mensaje info">No hay ning&uacute;n trabajo en la cola de procesado.</div></td></tr>');
                return;
            }

            var cont = 0;
            var filas = $("tbody").children();
            for (var i = 0; i < filas.length; i++) {
                // Borra la tarea si ya no está en la cola.
                if (cont >= data.length) {
                    $(filas[i]).remove();
                    continue;
                } else
                    if (filas[i].firstChild.textContent != data[cont]['id']) {
                        $(filas[i]).remove();
                        continue;
                    }
                // Actualiza el estado.
                if ($(filas[i]).find('span').html() != data[cont]['status'])
                    $(filas[i]).find('span').html(data[cont]['status']);
                // Actualiza la barra de progreso.
                if (data[cont]['progress']) {
                    if ($(filas[i]).find('div').length)
                        $(filas[i]).find('div.progressbartext').html(data[cont]['progress']+' %</div>');
                    else {
                        $($(filas[i]).find('li')[1]).append('<div id="progressbar' + data[cont]['id'] + '"></div>');
                        $($(filas[i]).find('li')[1]).append('<div class="progressbartext">' + data[cont]['progress'] + ' %</div>');
                    }
                    $('#progressbar' + data[cont]['id']).progressbar({value : data[cont]['progress']});
                } else
                    $(filas[i]).find('div').remove();
                // Actualiza las fechas de inicio y fin.
                if (data[cont]['comienzo'] && !$(filas[i]).find('td.date').find('li').length)
                    $(filas[i]).find('td.date').html('<ul><li>' + data[cont]['comienzo'] + ' - Inicio</li></ul>');
                if (data[cont]['fin'] && $(filas[i]).find('td.date').find('li').length < 2)
                    $(filas[i]).find('td.date').find('ul').append('<li>' + data[cont]['fin'] + ' - Fin</li>');
                // Actualiza el fichero de log.
                if (data[cont]['logurl'] && !$(filas[i]).find('a.chain').length)
                    $(filas[i]).find('td.log').html('<a class="chain" href="' + data[cont]['logurl'] +'" target="_blank">' + data[cont]['logfile'] +'</a></td>');
            cont++;
            }
            // Crea los nuevos elementos insertados al final de la cola.
            for (;cont < data.length; cont++) {
                $("tbody").append('<tr>' + creaLinea(data[cont]) + '</tr>');
                $('#progressbar' + data[cont]['id']).progressbar({value : data[cont]['progress']});
            }
        }

        function refrescar() {
            $.getJSON('/postproduccion/cola_listado/', function(data) {
                actualizaTabla(data);
            }).complete(function() { setTimeout("refrescar();", 1000); });
            
        }

        $(document).ready( function() {
            refrescar();
        });

    </script>

{% endblock %}

