{% extends "postproduccion/base-2-1.html" %}

{% block page-title %}Nueva producci&oacute;n, paso 1{% endblock %}
{% block section-class %}class = "formulario paso1" {% endblock %}
{% block section-title %}<h1>Nueva producci&oacute;n, paso 1: Informaci&oacute;n b&aacute;sica</h1>{% endblock %}
{% block section-description %} {% endblock %}

{% block section-content %} 
    <div class="formulario-nueva">
        <form method="post" action="" class="form-nueva">
            <ul>
                {% csrf_token %}
                {{ vform.as_ul }}
                {{ iform.as_ul }}
            </ul>
            <hr/>
            <input type="submit" value="Siguiente paso" />
            <input type="reset" value="Restaurar formulario" />
        </form>
    </div>
{% endblock %}

{% block section-widget %}
    <div id="progreso" class="uno"></div>
    <div class="portlet">
        <div class="portlet-header">Paso 1 de 3: Informaci&oacute;n b&aacute;sica</div>
        <div class="portlet-content info-interes">
            <ul>
                <li class="tip">Se debe incluir la informaci&oacute;n de la manera m&aacute;s precisa posible.<br/><br/>Estos datos ser&aacute;n de utilidad &uacute;nicamente para documentar el proceso de producci&oacute;n.</li>
            </ul>
        </div>
    </div>
    {% if vform.initial.id %}
    <div id="dialog-eliminar" title="¿Eliminar producci&oacute;n?">
        <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>La producci&oacute;n ser&aacute; eliminada de forma permanente y no podr&aacute; ser recuperada.</p>
    </div>
   
    <div class="portlet">
        <div class="portlet-header">Acciones disponibles</div>
        <div class="portlet-content">
            <ul>
            <li><a class="eliminar" href="{% url borrar vform.initial.id %}">Eliminar producci&oacute;n</a></li>
            </ul>
        </div>
    </div>
    {% endif %}
{% endblock %}
