{% extends "postproduccion/base-2-1.html" %}

{% block page-title %}Configuraci&oacute;n{% endblock %}
{% block section-class %} class = "status" {% endblock %}
{% block section-title %}<h1>Estado del sistema</h1>{% endblock %}
{% block section-description %} <p>Personaliza las opciones de configuraci&oacute;n del sistema con las variables del entorno de despliegue.</p>{% endblock %}

{% block section-content %} 
<h2>Programas externos</h2>
<table id="tabla">
  <thead>
    <th>Programa</th>
    <th>Ruta</th>
    <th>Estado</th>
    <th>Versi&oacute;n detectada</th>
  </thead>
  <tbody>
    {% for key, value in exes.items %}
    <tr>
      <td>{{ key }}</td>
      <td>{{ value.path }}</td>
      <td class="{{ value.status|yesno:'ok,err' }}">&nbsp;</td> <!-- David, cambia 'ok' y 'err' por los nombres de clases que quieras pa mostar un icono de status -->
      <td>{% if value.status %}{{ value.version }}{% else %} - {% endif %}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<hr/>
<h2>Directorios</h2>
<table id="tabla">
  <thead>
    <th>Directorio</th>
    <th>Ruta</th>
    <th>Estado</th>
    <th>Sistema de ficheros</th>
    <th>Tama&ntilde;o total</th>
    <th>Usado</th>
    <th>Libre</th>
    <th>Ocupaci&oacute;n</th>
  </thead>
  <tbody>
    {% for key, value in dirs.items %}
    <tr>
      <td>{% ifequal key 'input' %}Fuentes{% endifequal %}{% ifequal key 'library' %}Videoteca{% endifequal %}{% ifequal key 'previews' %}Previsualizaciones{% endifequal %}</td>
      <td>{{ value.path }}</td>
      <td class="{{ value.info|yesno:'ok,err' }}">&nbsp;</td> <!-- Lo mismo que arriba -->
      <td>{% if value.info %}{{ value.info.mount }}{% endif %}</td>
      <td>{% if value.info %}{{ value.info.total }}{% endif %}</td>
      <td>{% if value.info %}{{ value.info.used }}{% endif %}</td>
      <td>{% if value.info %}{{ value.info.left }}{% endif %}</td>
      <td>{% if value.info %}{{ value.info.perc }}{% endif %}</td>
    <tr>
    {% endfor %}
  </tbody>
</table>

<hr/>
<h2>Tareas Programadas</h2>
<table id="tabla">
  <thead>
    <th>Tarea</th>
    <th>Estado</th>
    <th>Acci&oacute;n</th>
  </thead>
  <tbody>
    <tr>
      <td>Codificaci&oacute;n de v&iacute;deos</td>
      <td class="{{ cron|yesno:'on,off' }}">&nbsp;</td>
      <td>
        <form action="" method="POST">
          {% csrf_token %}
          <input type="hidden" name="status" value="{{ cron|yesno:'1,0' }}" />
          <input class="{{ cron|yesno:'on,off' }}" type="submit" value="{{ cron|yesno:'Desactivar,Activar' }}" />
        </form>
      </td>
    </tr>
  </tbody>
</table>


{% endblock %}

{% block section-widget %}
            <div class="portlet">
                <div class="portlet-header">Detalles de configuraci&oacute;n</div>
                <div class="portlet-content">
                    <ul> 
                <li><a class="link" href="{% url config %}">Configuraci&oacute;n del sistema</a></li> 
                <li><a class="link" href="{% url status %}">Ver el estado del sistema</a></li> 
                    </ul>
                </div>
            </div>
            <div class="portlet">
                <div class="portlet-header">Informaci&oacute;n de inter&eacute;s</div>
                <div class="portlet-content">
                    <ul> 
    <li class="tip">Falta personalizar este mensaje</li>
                    </ul>
                </div>
            </div>

{% endblock %}

