
{% extends "postproduccion/index.html" %}

{% block page-title %}Centro de Monitorizaci&oacute;n{% endblock %}

{% block section-title %}<h1>Resumen de estado en los procesos</h1>{% endblock %}

{% block contenido %}
        <div id="content">


<div>
<p>Copié la plantilla del frontal principal para tener algo, pero aquí debería tener a la derecha el menú para las distintas secciones.</p>
<div class="column">
    <div class="portlet">
        <div class="portlet-header">Cuadro 1</div>
        <div class="portlet-content">lorem ipsum a saco paco</div>
    </div>
</div>

<div class="column">
    <div class="portlet">
        <div class="portlet-header">Cuadro 2</div>
        <div class="portlet-content">lorem ipsum a saco paco</div>
    </div>
</div>

</div>

{% endblock %}
