
{% extends "postproduccion/index.html" %}

{% block page-title %}Inicio{% endblock %}

{% block section-title %}<h1>Resumen de actividad</h1>{% endblock %}

{% block contenido %}
        <div id="content">


<div>
    <div class="column">
        {% include "postproduccion/ajax/box-pendientes.html" %}
        {% include "postproduccion/ajax/box-alertas.html" %}
    </div>

    <div class="column">

        <div class="portlet">
            <div class="portlet-header">&Uacute;ltimas producciones incluidas en la videoteca</div>
            <div class="portlet-content">Mostrar información en modo tabla: | fecha | título-enlace
            <ul>
            <li> <br/>- Últimas 5-10 producciones -incluidas- en la videotecai ordenadas por fecha de -validación-</li>
            </ul>
            </div>
        </div>

    </div>
</div>

{% endblock %}
