{% extends "postproduccion/section-info-produccion.html" %}

{% block current-metadata %} class="current" {% endblock %}
{% block section-content %} 

    <h2>Metadata t&eacute;cnica</h2>
{% if info %}
    <table id="tabla">
        <thead>
            <th class="meta-param">Par&aacute;metros</th><th>valor</th>
        </thead>
        <tbody>
            {% for s in info %}
            <tr><td colspan="2" class="section">{{ s.section }}</td></tr>
            {% for at in s.attr %}
            <tr><td>{{ at.key }}</td><td>{{ at.value }}</td></tr>
            {% endfor %}
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <div class="mensaje warning">La metadata t&eacute;cnica no estar&aacute; disponible hasta que se procese el v&iacute;deo.</div>
{% endif%}
{% endblock %}

{% block section-widget2 %} 
            <div class="portlet">
                <div class="portlet-header">Tipo de metadata</div>
                <div class="portlet-content">
                    <ul> 
            <li><a class="link" href="{% url definir_metadatos_oper v.id %}">Metadata principal</a></li> 
            <li><a class="link" href="{% url media_info v.id %}">Metadata t&eacute;cnica</a></li> 
                    </ul>
                </div>
            </div>
            <div class="portlet">
                <div class="portlet-header">Versi&oacute;n descargable</div>
                <div class="portlet-content">
                    <ul> 
                        <li><a class="descargar" href="{% url download_media_info v.id %}">Metadata t&eacute;cnica en XML</a></li> 
                    </ul>
                </div>
            </div>
            <div class="portlet">
                <div class="portlet-header">Informaci&oacute;n de inter&eacute;s</div>
                <div class="portlet-content info-interes">
                    <ul> 
            <li class="tip">La metadata t&eacute;cnica es generada de manera autom&aacute;tica por el sistema.</li>
                    </ul>
                </div>
            </div>

{% endblock %}
