{% extends "postproduccion/base-2-1.html" %}

{% block page-title %}Videoteca{% endblock %}
{% block section-class %} {% endblock %}
{% block section-title %}<h1>Videoteca</h1>{% endblock %}
{% block section-description %}{% endblock %}

{% block section-content %} 
{% load append_to_get %}

<div class="videoteca-buscador">
    <div class="videoteca-buscador-header"><h2>Buscador</h2></div>
    <div class="videoteca-buscador-content">
        <form method="GET">
            <p><label for="titulo">T&iacute;tulo:</label><input type="text" name="titulo" /></p>
            <p><label for="autor">Autor:</label><input type="text" name="autor" /><br /></p>
            <p class="buscador-fechas">
                <label for="f_ini">Rango de fechas, desde: </label>
                <input type="text" id="from" name="f_ini"/>
                <label for="f_fin">hasta: </label>
                <input type="text" id="to" name="f_fin"/>
            </p>
            <input type="submit" value="Buscar" />
            <a href="./">Limpiar</a>
        </form>
    </div>
</div>

<h2>Todo el contenido de la videoteca</h2>
<table id="tabla">
  <thead>
    <th class="id">ID</th>
    <th class="date">Fecha</th>
    <th class="title">T&iacute;tulo</th>
    <th class="author">Autor</th>
  </thead>
  <tbody>
    {% for video in videos.object_list %}
    <tr class="{%cycle 'odd' 'even' %}">
        <td class="id">{{ video.id }}</td>
        <td class="date">{{ video.informeproduccion.fecha_grabacion|date:"d/m/Y" }}</td>
        <td class="title"><a href="{% url estado_video video.id %}">{{ video.titulo }}</a></td>
        <td class="author">{{ video.autor }}</td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="5"><div class="mensaje info">No hay ning&uacute;n elemento que mostrar en esta tabla.</div></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<div class="pagination">
    <span class="step-links">
        {% if videos.has_previous %}
            <a href="{% append_to_get page=videos.previous_page_number %}">anterior</a>
        {% endif %}

        <span class="current">
            P&aacute;gina {{ videos.number }} de {{ videos.paginator.num_pages }}.
        </span>

        {% if videos.has_next %}
            <a href="{% append_to_get page=videos.next_page_number %}">siguiente</a>
        {% endif %}
    </span>
</div>

{% endblock %}

{% block section-widget %}


            <div class="portlet">
                <div class="portlet-header">Informaci&oacute;n de inter&eacute;s</div>
                <div class="portlet-content">
                    <ul> 
                        <li class="tip">Poner descripci&oacute;n o enlaces sobre esta tabla</li>
                    </ul>
                </div>
            </div>


{% endblock %}
