{% extends "postproduccion/base-2-1.html" %}

{% block page-title %}Producciones pendientes{% endblock %}
{% block section-class %} {% endblock %}
{% block section-title %}<h1>Producciones pendientes</h1>{% endblock %}
{% block section-description %}<p>Producciones que actualmente estan pendientes</p>{% endblock %}

{% block section-content %} 


<table id="tabla">
  <thead>
    <th class="id">ID</th>
    <th class="status">Estado</th>
    <th class="oper">Operador</th>
    <th class="date">Fecha</th>
    <th class="title">T&iacute;tulo</th>
  </thead>
  <tbody>
    {% for video in list %}
    <tr class="{{ video.tipo }} {%cycle 'odd' 'even' %}">
        <td class="id">{{ video.id }}</td>
        <td class="status">{{ video.status }}</td>
        <td class="oper">{{ video.operador }}</td>
        <td class="date">{{ video.fecha }}</td>
        <td class="title"><a href="{% url estado_video video.id %}">{{ video.titulo }}</a></td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="5"><div class="mensaje info">No hay ning&uacute;n elemento que mostrar en esta tabla.</div></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}

{% block section-widget %}
    <div id="content-right">
        <div class="column">
            <div class="portlet">
                <div class="portlet-header">Informaci&oacute;n de inter&eacute;s</div>
                <div class="portlet-content">
                    <ul> 

                <li class="tip">Listado de producciones pendientes que requieren revisi&oacute;n por parte del operador</li>
                    </ul>
                </div>
            </div>
        </div>     
    </div>
{% endblock %}
