{% extends "postproduccion/base-2-1.html" %}

{% block page-title %}Cola de proceso de producciones{% endblock %}
{% block section-class %} {% endblock %}
{% block section-title %}<h1>Cola de proceso de producciones</h1>{% endblock %}
{% block section-description %}<p>Listado de producciones que est&aacute;n actualmente en la cola de procesado del sistema.</p>{% endblock %}

{% block section-content %} 
<table id="tabla" class="cola">
    <thead>
        <th class="id">ID</th>
        <th class="status">Estado</th>
        <th class="type">Tipo</th>
        <th class="date">Fecha</th>
        <th>T&iacute;tulo</th>
        <th class="log">Log</th>
    </thead>
    <tbody>
    </tbody>
</table>



{% endblock %}

{% block section-widget %}
    <div id="content-right">
        <div id="right-block">
            <h3>Informaci&oacute;n de inter&eacute;s</h3>
            <ul>
                <li class="tip">Poner descripci&oacute;n o enlaces sobre esta tabla</li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block page-script %}
    <script src="/static/js/jqueryprogressbar.js" type="text/javascript"></script>
    <script type="text/javascript">
        function creaLinea(data) {
            str = '';

            if (data['id']) {
                str += '<td class="id">' + data['id'] + '</td>';
            } else {
                str += '<td>&nbsp;</td>';
            }

            str += '<td class="' + data['status'] + '"></td>';

            if (data['tipo']) {
                str += '<td>' + data['tipo'] + '</td>';
            } else {
                str += '<td>&nbsp;</td>';
            }
    
            if (data['comienzo'] || data['fin']) {
                str += '<td class="date"><ul>';
                if (data['comienzo']) {
                    str += '<li>'+data['comienzo']+' - Inicio</li>';
                }
                if (data['fin']) {                    
                   str += '<li>'+data['fin']+' - Fin</li>';
                }
                str +='</ul></td>';
            } else {
                str += '<td class="date">&nbsp;</td>';
            }

            if (data['video']) {
                str += '<td>' + data['video'] + '</td>';
            } else {
                str += '<td>&nbsp;</td>';
            }

            if (data['logurl']) {
                str += '<td class="log"><a class="chain" href="' + data['logurl'] +'" target="_blank">' + data['logfile'] +'</a></td>';
            } else {
                str += '<td class="log">&nbsp;</td>';
            }
            return str
        }

        function creaTabla(data) {
            str = '<tbody>';
            for (var i = 0; i < data.length; i++)
                str += '<tr>' + creaLinea(data[i]) + '</tr>';
            str += '</tbody>';
            return str;
        }

        function mostrarProgreso(data) {
            for (var i = 0; i < data.length; i++) {
                st = $('#status' + data[i]['id']);
                if (!isNaN(st[0].innerHTML)) {
                    value = st[0].innerHTML;
                    st[0].innerHTML = "";
                    st.addClass("progressbar");
                    st.reportprogress(value);
                }
            }
        }

        function refrescar() {
            $.getJSON('/postproduccion/cola_listado/', function(data) { 
                $(creaTabla(data)).replaceAll("tbody"); 
                mostrarProgreso(data);
            });
            setTimeout("refrescar();", 1000);
        }

        $(document).ready( function() {
            refrescar();
        });
    </script>

{% endblock %}

