{% extends "postproduccion/base-2-1-monitor.html" %}

{% block page-title %}Centro de monitorizaci&oacute;n{% endblock %}
{% block section-class %} {% endblock %}
{% block section-title %}<h1>Centro de monitorizaci&oacute;n</h1>{% endblock %}
{% block section-description %}
    {% if old %}
        <h2>Registro antiguo del sistema</h2>
    {% else %}
        <h2>Registro actual del sistema</h2>
    {% endif %}
{% endblock %}

{% block section-content %} 

<table id="tabla" class="log">
  <thead>
    <th class="icon">Tipo</th>
    <th class="date">Fecha</th>
    <th class="log-msg">Descripci&oacute;n</th>
  </thead>
  <tbody>
    {% for item in log %}
    <tr class="{{ item.status }} {%cycle 'odd' 'even' %}">
        <td class="icon">{{ item.status }}</td>
        <td class="date">{{ item.time }}</td>
        <td class="log-msg">{{ item.msg }}</td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="5"><div class="mensaje info">No existe ning&uacute;n registro que mostrar.</div></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}

{% block section-widget %}
            <div class="portlet">
                {% if old %}
                <div class="portlet-header">Registro actual</div>
                <div class="portlet-content">
                    <ul>
                        <li><a class="link" href="{% url log %}">Acceder al registro actual del sistema.</a></li> 
                    </ul>
                </div>
                {% else %}
                <div class="portlet-header">Registro antiguo</div>
                <div class="portlet-content">
                    <ul>
                        <li><a class="link" href="{% url oldlog %}">Acceder al registro antiguo del sistema.</a></li> 
                    </ul>
                </div>
                {% endif %}
               
            </div>          
            <div class="portlet">
                <div class="portlet-header">Informaci&oacute;n de inter&eacute;s</div>
                <div class="portlet-content">
                    <ul> 
                        <li class="tip">La longitud de los mensajes de registro del sistema es configurable por el administrador.<br/><br/>Existen dos versiones del fichero de registro, una actual y una m&aacute;s antigua, accesibles desde el bloque superior.</li>
                    </ul>
                </div>
            </div>

{% endblock %}

