
{% extends "postproduccion/index.html" %}

{% block page-title %}Inicio{% endblock %}

{% block section-title %}<h1>Resumen de actividad</h1>{% endblock %}

{% block contenido %}
        <div id="content">
            <div class="mensaje verde">Mensaje verde<a class="cerrar">Cerrar mensaje</a></div>
            <div class="mensaje rojo">Mensaje rojo<a class="cerrar">Cerrar mensaje</a></div>
            <div class="mensaje amarillo">mensaje amarillo<a class="cerrar">Cerrar mensaje</a></div>
            <div class="mensaje azul">mensaje<a class="cerrar">Cerrar mensaje</a></div>
        </div>
{% endblock %}
