body {
    font: normal 12px Arial;
    margin: 0px;
    padding: 0px;
    background: #fff;
}

body.login {
    background: url(../img/login_bg.jpg) 0 0 no-repeat;
}

/* tamaño global */
#inner-content,
#inner-menu-content,
#inner-header {
    max-width: 1260px;
    min-width: 940px;
    margin: 0 auto;
}

/* login.html */

#main-login {
    margin: 0 auto;
    margin-top: 100px;
    width: 448px;
}

#main-login h1 {
    color: #fff;
    font: bold 45px Arial;
    text-shadow: 2px 2px 7px #111;
    margin: 0px;
    padding: 5px 30px;
    width: 100%;
    text-align: left;

}
#loginbox {
    background: url(../img/loginbox_bg.png) 0 0 no-repeat;
    padding: 30px;
    width: 100%;
    height: 212px;
}

#loginbox form {
    padding: 25px;
}

#loginbox form ul {
    list-style: none;
    margin: 0px auto;
    padding: 0px;
    margin-top: 40px;
}


#loginbox form li {
    overflow: hidden;
    width: 365px;
    margin: 0 auto 10px;
}
#loginbox form li label {
    width: 135px;
    display: block;
    clear: both;
    float: left;
    margin-right: 15px;
    text-align: left;
    color: #336699;
    font: bold 14px Arial; 
    text-shadow: -1px 1px #ddd;
    line-height: 28px;
}

#loginbox form li input {
    float: left;
    clear: right;
    line-height: 25px;
    border: solid 1px #336699;
    -moz-border-radius: 2px;
    padding: 5px;
    color: #555555;
    width: 200px;
}

#loginbox input[type="submit"] {
    background: #336699;
    color: #fff;
    border: 0px;
    -moz-border-radius: 3px;
    float: right;
    margin-right: 19px;
    padding: 4px 15px;
    font-size: 12px;
}


/* Footer-box */
.footer-box {
    bottom: 0px;
    position: absolute;
    padding: 0px;
    margin: 0px;
    width: 100%;
}

.footer-content {
    border-top: solid 1px #336699;
    overflow: hidden;
}


.footer-content ul {
    list-style: none;
    margin: 0px;
    margin-bottom: 15px;
    padding: 10px 20px;
    overflow: hidden;
}

.footer-content ul li {
    float: left;
    margin-right: 20px;
    color: #4775a3;
}

.footer-content ul li a{
    text-decoration: none;
    font-size: 10px;
    font-weight: bold;
    color: #fff;
}


.footer-content ul li a:hover {
    text-decoration: underline;
}

.footer-content ul li.name {
    float: right;
    color: #033769;
}



#loginbox .mensaje {
    width: 408px;
    margin: 0 auto;
    float: left;
}
.mensaje {
    font: normal 12px Arial;
    border: solid 1px #adc2d6;
    -moz-border-radius: 3px;
    margin: 20px auto;
    color: #2e74b2;
    padding: 10px;
    padding-left: 30px;
    background-position: 7px 9px;
    background-repeat: no-repeat;
    background-color: #d8e1e9;
    background-image: url(../img/azul_16.png);
}

.rojo {
    color: #CE2700;
    border-color: #f5c69a;
    background-color: #FBD3B1;
    background-image: url(../img/rojo_16.png);   
}

.verde {
    color: #6da84c;
    border-color: #ccebac;
    background-color: #e0f2cb;
    background-image: url(../img/verde_16.png);
}

.amarillo {
    color: #ec9300;
    border-color: #f8e3ac;
    background-color: #fff4cc;
    background-image: url(../img/amarillo_16.png);

}




/* index */

#page-index {
    
}

/****************************/
/* main-header y derivados */
/****************************/
#main-header {
    height: 120px;
    background: url(../img/login_bg.jpg) 0 0 no-repeat;
}

#inner-menu-content,
#inner-header {
    overflow: hidden;
    padding: 10px 20px;

}

#inner-menu-content {
    padding: 0px 20px;
}
#inner-menu {
    border-top: solid 2px #2b5782;
    padding: 0px;
}

#inner-menu ul {
    margin: 0px;
    padding: 0px;
}

#inner-menu li {
    float: left;
    margin-right: 30px;
}

#inner-menu li a {
    color: #fff;
    text-decoration: none;
    display: block;
    font: bold 13px Arial;
    line-height: 38px;
    text-shadow: #000 0px 0px 20px;
}

#inner-menu ul li a:hover {
    text-shadow: #fff 0px 0px 20px;
}

#inner-menu ul.utils {
    float: right;
    margin: 6px 0px;
}

#inner-menu ul.utils li {
    margin-right: 10px;
}
#inner-menu ul.utils li a {
    line-height: 26px;
    font-size: 11px;
    border-left: solid 2px #2B5782;
    
}


#inner-menu ul.utils li a.icon-logout:hover,
#inner-menu ul.utils li a:hover {
    text-shadow: none;
}
#inner-menu ul.utils li a.icon-config {
    background:url(../img/icon/config.png) 8px 50% no-repeat;
padding-left: 30px;
}

#inner-menu ul.utils li a.icon-logout {
    background:url(../img/icon/logout.png) 8px 50% no-repeat;
padding-left: 30px;
}
/*
ul.utils li a {
    padding: 4px 8px;
    text-decoration: none;
    color: #336699;
    -moz-border-radius: 3px;
    border: solid 1px #063A6C;
    font-size: 11px;
}
*/


#logo {
    float: left;
    width: 250px;
    height: 60px;
    margin: 0px;
    padding: 0px;
}

/* Logo en caso de tener imagen.
#logo a {
    display: block;
    height: 70px;
    width: 250px;
    text-indent:-9999px;
}*/

#logo a {
    color: #fff;
    font: bold 45px Arial;
    text-decoration: none;
    text-shadow: 2px 2px 7px #111;
    margin: 0px;
    padding: 0px;
}

#menu-header ul li a.icon-logout {
    background: #fff url(../img/icon/logout.png) 4px 50% no-repeat;
    padding-left: 25px;
}

/****************************/
/* main-content y derivados */
/****************************/
#main-content {
    background: url(../img/bg-content.png) 0 0 repeat-x;
    margin: 0px;
    padding: 0px;
    
}
#inner-content {
   padding: 20px 20px 0px 20px;
}

#inner-content h1 {
    line-height: 24px;
    margin: 0px;
    padding: 0px;
    color: #336699;
    font-size: 22px;
    font-weight: normal;
    margin-bottom: 10px;
    padding-left: 10px;
}

#inner-content #content {
    border: solid 1px #d6e0eb;
    -moz-border-radius: 4px;
    padding: 15px;
    overflow: hidden;
}

#content.crear p {
    margin: 0px;
    margin-bottom: 20px;
    overflow: hidden;
}

#content.crear hr {
   border: dotted 1px #336699; 
}

#content.crear p label {
    width: 130px;
    text-align: left;
    display: block;
    height: 25px;
    float: left;
    font: bold 12px Arial;
    color: #336699;
    line-height: 28px;
}

#content.crear h3 {
    margin-bottom: 15px;
    padding-bottom: 5px;
    font: bold 12px Arial;
    color: #373737;
    border-bottom: solid 1px #ccc;
}
#content.crear.paso3 p label {
    margin-left: 10px;
}

#content.crear p textarea,
#content.crear p select,
#content.crear p input[type="text"] {
    height: 25px;
    padding: 3px 5px;
    width: 300px;
    border: solid 1px #acacac;
    -moz-border-radius: 3px;
}


#content.crear p:last-child {
    background: red;
}
#content.crear input[type="submit"],
#content.crear input[type="reset"] {
    background: #336699;
    color: #fff;
    border: 0px;
    -moz-border-radius: 3px;
    padding: 8px 60px;
    font: bold 12px Arial;
    letter-spacing: 1px;
    margin-top: 5px;
    float: right;
    cursor: pointer;
}

#content.crear input[type="reset"] {
    background: #bfbfbf;
    background: #ececec;
    color: #bfbfbf;
    color: #949494;
    margin-right: 20px;
    margin-top: 9px;
    padding: 4px 10px;
    float: left;
    font-size: 11px;
}

#content.crear p select {
    height: 30px;
    width: 312px;
}
#content.crear p textarea {
    height: 150px;
    width: 400px;
}

#content-left {
    float: left;
    overflow: hidden;
    margin-left: 10px;
    width: 70%;
}

#inner-content-left {
    margin: 0 auto;
    width: 100%;
}
#content-right {
    float: right;
    width: 27.5%;
}

#content-right #right-block {
    border: solid 1px #E9E9E9;
    -moz-border-radius: 4px;
    padding-bottom: 20px;
    margin-bottom: 15px;
}

#content-right #right-block h3 {
    background: #336699;
    color: #ffffff;
    height: 30px;
    padding: 4px 8px;
    font: bold 13px Arial;
    text-shadow: 0px 1px 0px #111;
    -moz-border-radius-topleft:4px;
    line-height: 30px;
    -moz-border-radius-topright:4px;
}

#content-right #right-block ul {
    padding: 5px 15px;
}

#content-right #right-block ul li {
color: #373737;    
font: normal 13px Arial;
}
#content-right #right-block ul li.tip {
    background: url(../img/icon/lightbulb.png) 0 0 no-repeat;
    padding-left: 25px;
}

#content-right #right-block ul li a {
    background: url(../img/icon/link16.png) 0 0 no-repeat;
    padding-left: 25px;
    text-decoration: none;
    color: #373737;
}

#content-right #right-block ul li a:hover {
    text-decoration: underline;
}

/****************************/
/* main-footer y derivados */
/****************************/
#main-footer {
    height: 50px;
    margin-top: 50px;
    width: 100%;
}

#inner-footer {
    border-top: solid 1px #d6e0eb;
    color: #aaa;
    padding: 10px;
}

ul.errorlist {
margin: 0px;
padding: 0px;
    background: #D63921;
    margin-left: 130px; 
    color: #fff;
    font: bold 12px Arial;
    width: 250px;
    margin-bottom: 10px;
    background: url(../img/errorlist-left.png) 0 0 no-repeat;
    height: 34px;
    line-height: 28px;
    padding-left: 22px;
}

ul.errorlist li {
margin: 0px;
padding: 0px;
    background: url(../img/errorlist-right.png) 100% 0 no-repeat;
    padding-left: 5px;
}





/* Barra de progreso formulario: Nueva producción */
#progreso {
    width: 543px;
    height: 32px;
    margin-bottom: 10px;
}

#progreso.uno { background: url(../img/barra-progreso-new.png) 0 0 no-repeat; }
#progreso.dos { background: url(../img/barra-progreso-new.png) 0 -32px no-repeat; }
#progreso.tres { background: url(../img/barra-progreso-new.png) 0 -64px no-repeat; }


#content-left h2 {
    font: normal 20px Arial;
    color: #e98b59;
    margin-bottom: 30px;
}


/* Selección de archivos */
.navegador {
    width: 540px;
    height: 150px;
    border: solid 1px #BBB;
    background: #FFF;
    overflow: auto;
    padding: 5px;
}

#content.crear.paso2 form h3{
    color: #336699;
    font: bold 12px Arial;
    height: 25px;
    clear: both;
}

#content.crear.paso2 form p label {
    display: none;
}
#content.crear.paso2 form p {
    margin-top: 5px;
}
#content.crear.paso2 form p input[type="text"] {
}

#content.crear.paso2 ul.errorlist {
    margin-left: 0px;
    margin-top: 15px;
}

#content.crear #volver a {
    text-decoration: none;
    font: bold 12px Arial;
    background: #c1d1e0;
    color: #336699;
    padding: 0px 10px;
    -moz-border-radius: 3px;
    display: block;
    line-height: 33px;
}
#content.crear #volver {
    float: right;
    height: 33px;
    margin-top: 5px;
    margin-right: 10px;
}


/* Formateando las tablas */

#tabla {
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-topright: 8px;
    border-collapse: separate;
}
#tabla th {
    height: 32px;
    text-align: left;
    padding: 0px;
    margin: 0px;
    font: bold 13px Arial;
    line-height: 32px;
    color: #373737;
    text-shadow: 1px 1px 0px #fff;
    border-bottom: solid 2px #373737;
    background: #d9d9d9 url(../img/title-bg.png) 0 0 no-repeat;
    padding-left: 10px;
}

#tabla thead th:first-child {
    -moz-border-radius-topleft: 8px;
}

#tabla thead th:last-child {
    -moz-border-radius-topright: 8px;
}


#tabla tbody tr td:last-child {
    border-right: solid 1px #dedede; 
}
#tabla tbody tr td{
    padding: 10px;
    border-left: solid 1px #dedede; 
    border-bottom: solid 1px #dedede;
    border-collapse: collapse;
}
#tabla {
    min-width: 100%;
}

#tabla th.id {
    min-width: 7%;
}

#tabla th.status {
    min-width: 13%;
}
#tabla th.title {
    min-width: 45%;
}

#tabla th.oper {
    min-width: 10%;
}

#tabla th.date {
    min-width: 22%;
}


#tabla.log tr td.icon {
    padding-left: 33px;
    padding-right: 10px;
    width: 45px;
    font-size: 11px;
}

#tabla.log tr.info td.icon{
    background: url(../img/icon/info16.png) 10px 10px no-repeat;
    color: #336699; 
}
#tabla.log tr.error td.icon{
    background: url(../img/icon/error16.png) 10px 10px no-repeat;
    color: #CE2700; 
}
#tabla.log tr.warning td.icon{
    background: url(../img/icon/warning16.png) 10px 10px no-repeat;
    color: #c26b15; 
}
#tabla.log tr.debug td.icon{
    background: url(../img/icon/debug16.png) 10px 10px no-repeat;
    color: #6DA84C; 
}

#tabla.log tr.warning {
    background: #FFF4CC;
}

#tabla.log tr.error {
    background: #FBD3B1;
}
#tabla.log tr.debug {
    background: #E0F2CB;
}

