/*
Estilos dpCAT 2011
*/

body {
    font: normal 12px Arial;
    background: #fff;
}

body.login { background: url(../img/login_bg.jpg) 0 0 no-repeat; }

#inner-footer,
#inner-content,
#inner-header {
    max-width: 1260px;
    min-width: 940px;
    margin: 0 auto;
}

#main-login {
    margin: 0 auto;
    margin-top: 80px;
    width: 500px;
}

#main-login .column .portlet {
    margin: 0px;
    padding: 0px;
}
#main-login .column ul li:last-child {
    margin-bottom: 10px;
}
#main-login .column ul{
    padding: 20px;
    padding-bottom: 0px;
}
#main-login .column {
    float: none;
    width: 100%;
}
#main-login h1 {
    color: #fff;
    font: bold 45px Arial;
    text-shadow: 2px 2px 7px #111;
    margin: 0px;
    margin-bottom: 15px;
    padding: 0px;
    width: 100%;
    text-align: left;
}

#loginbox form.form-nueva {
    clear: both;
}
#loginbox form.form-nueva input[type="submit"] {
    margin-right: 20px;
}
#loginbox form.form-nueva input[type="password"],
#loginbox form.form-nueva input[type="text"] {
    width: 444px;
}

.bottom-links {
    clear: both;
    margin: 0px 20px;
    float: right;
}


#main-login .bottom-links {
    float: left;
}
#main-login .column .bottom-links ul,
.bottom-links ul {
    margin: 0px;
    padding: 0px;
    margin-top: 5px;
}
.bottom-links ul li:first-child {
    margin: 0px;
    padding: 0px;
}

.bottom-links ul li {
    float: left;
    margin-left: 10px;
}
.bottom-links ul li a {
    text-decoration: none;
    color: #888;
    font-size: 10px;
}

.bottom-links ul li a:hover {
    text-decoration: underline;
}

#loginbox form.form-nueva ul.errorlist {
    width: 418px;
    padding: 8px;
    padding-left: 30px;
}

#loginbox form.form-nueva ul.errorlist li{
    margin-bottom: 0px;
}

div.info,
.mensaje {
    font: normal 12px Arial;
    border: solid 1px #adc2d6;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin: 20px auto;
    padding: 10px;
    padding-left: 30px;
    background-position: 7px 9px;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative; 
    color: #666452;
}

.mensaje a:hover {
    text-decoration: none;
}
.mensaje a{
    color: #666452;
}

div.info {
    border-color: #A2B4EE;
    background-color: #d5e6f7;
    background-image: url(../img/icon/estado16.png);
}

.rechazar:hover,
.eliminar:hover {
    color: #fff;
    background-color: #df8f8f;
}
.aprobar,
.rechazar,
.validar,
.publicar,
.descargar,
.eliminar {
    border: solid 1px #DF8F8F;
    background: #FFcece url(../img/icon/error16.png) 5px 50% no-repeat;
    padding: 5px;
    font: normal 13px Arial;
    text-decoration: none;
    color: #DF8F8F;
    padding-left: 28px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    display: block;
}


.publicar {
    border-color: #A2B4EE;
    background-color: #d5e6f7;
    background-image: url(../img/icon/publicar16.png);
}
.publicar:hover {
    background-color: #A2B4EE;
}
.descargar {
    border-color: #ccc;
    background-color: #dfdfdf;
    background-image: url(../img/icon/chain16.png);
}
.descargar:hover {
    background-color: #ccc;
}
.aprobar,
.validar {
    border-color: #9ADF8F;
    background-color: #D5FFCE;
    background-image: url(../img/icon/check16.png);
}
.aprobar:hover,
.validar:hover {
    background-color: #9adf8f;
}



.error {
    border-color: #DF8F8F;
    background-color: #FFCECE;
    background-image: url(../img/icon/error16.png);   
}

.success {
    border-color: #9ADF8F;
    background-color: #D5FFCE;
    background-image: url(../img/icon/check16.png);
}

.warning {
    border-color: #E6DB55;
    background-color: #FFFBCC;
    background-image: url(../img/icon/warning16.png);
}

li.estado {
    border: solid 1px #E6DB55;
    background-color: #FFFBCC;
    padding: 5px;
    text-align: center;
    border-left: 0px;
    border-right: 0px;

}

a.cerrar {
    color: #990000;
    font-size: 9px;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 10px;
    height: 10px;
    background: url(../img/icon/cerrar10.png) 0 0 no-repeat;
    display: block;
    cursor: pointer;
}

a.cerrar:hover {
    text-decoration: underline;
}

/****************************/
/* main-header y derivados */
/****************************/
#main-header {
    height: 70px;
    background: url(../img/login_bg.jpg) 0 50% no-repeat;
}

#inner-menu-content,
#inner-header {
    overflow: hidden;
    padding: 0px 20px;

}

#inner-menu-content {
    padding: 0px;
}

#inner-menu-content ul {
    margin: 0px;
    padding: 0px;
    margin-top: 21px;
    float: left;
}

#inner-menu-content li {
    float: left;
    margin-right: 30px;
}

#inner-menu-content ul li a:hover {
    text-decoration: underline;
}

#inner-menu-content ul.utils {
    float: right;
    margin-top: 22px;
}

#inner-menu-content ul li {
    margin-right: 10px;
    background: #fff url(../img/title-bg.png) 0 -4px repeat-x;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #336699;
}
#inner-menu-content ul.utils li a {
    display: inline;
}
#inner-menu-content ul li a {
    text-decoration: none;
    font: bold 11px Arial;
    line-height: 26px;
    color: #336699; 
    text-shadow: 0 1px 0 #fff;
    padding-right: 8px;
    display: block;
}
#inner-menu-content ul li:hover {
    background-image: none;
}

#inner-menu-content ul.utils li {
background: none;
border: none;
margin: 0px;

    float: none;
}
#inner-menu-content ul.utils li:first-child {
    font: bold 11px Arial;
    line-height: 27px;
    color: #fff;
    text-shadow: 0 1px 0 #373737;
    background: none;
    border: none;
    padding-right: 10px;

}

#inner-menu-content ul.utils li a:last-child {
text-decoration: underline;
}
#inner-menu-content ul.utils li a {
    font-size: 10px;
    color: #fff;
    text-shadow: 0 1px 0 #373737;
    padding: 0px;
}

#inner-menu-content ul li a {
    padding-left: 30px;
}
#inner-menu-content ul.utils li a:hover {
    text-decoration: underline;
}

#inner-menu-content ul li a.nuevaproduccion { background:url(../img/icon/showreel16.png) 8px 50% no-repeat; }
#inner-menu-content ul li a.monitorizacion { background:url(../img/icon/order16.png) 8px 50% no-repeat; }
#inner-menu-content ul li a.videoteca { background:url(../img/icon/videoteca16.png) 8px 50% no-repeat; }
#inner-menu-content ul li a.home { background:url(../img/icon/home16.png) 8px 50% no-repeat; }

#logo {
    float: left;
    width: 150px;
    margin: 0px;
    padding: 0px;
    padding-left: 10px;
    margin-top: 10px;
}

#logo a {
    color: #fff;
    font: bold 40px Arial;
    text-decoration: none;
    text-shadow: 1px 1px 2px #111;
    margin: 0px;
    padding: 0px;
}

/****************************/
/* main-content y derivados */
/****************************/
#main-content {
    border-top: solid 2px #336699;
    margin: 0px;
    padding: 0px;
    
}
#inner-content {
   padding: 20px 20px 0px 20px;
}

#inner-content h1 {
    line-height: 24px;
    margin: 0px;
    padding: 0px;
    color: #2B84D8;
    font-size: 22px;
    font-weight: normal;
    margin-bottom: 10px;
    padding-left: 10px;
    text-shadow: 1px 1px 0px #dfdfdf;
}

#inner-content #content {
    border: solid 1px #d6e0eb;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding: 15px;
    overflow: hidden;
}

#content p {
    margin: 0px;
    margin-bottom: 20px;
    overflow: hidden;
}

#content hr {
   border: dotted 1px #336699; 
}

#content.status hr {
    margin: 20px 0px;

}


#content.informe-video .form-validacion-rechaza p  {
    margin-bottom: 10px;
}
#content.informe-video .form-validacion-rechaza p:first-child {
    color: #336699;
    font: bold 12px Arial;
    margin: 0px;
    margin-bottom: 5px;
    padding: 0px;
}

#content.informe-video p label,
.info-basica label,
#content.formulario p label {
    width: 130px;
    text-align: left;
    display: block;
    height: 25px;
    float: left;
    font: bold 12px Arial;
    color: #336699;
    line-height: 28px;
}

#content.formulario.config p label {
    width: 330px;
}

#content.formulario h3 {
    margin: 0px;
    padding: 0px;
    font: bold 13px Arial;
    color: #373737;
}
#content.formulario.paso3 p label {
    margin-left: 10px;
}


#content.formulario.paso3 h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    border-bottom: dotted 1px #ccc;
    padding-bottom: 5px;
    color: #2B84D8;
    text-shadow: 0 1px 0 #dfdfdf;
}

#content.informe-video p textarea,
#content.formulario p textarea,
#content.formulario p select,
#content.formulario p input[type="text"] {
    height: 25px;
    padding: 3px 5px;
    width: 300px;
    border: solid 1px #acacac;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;

}


#loginbox form.form-nueva input[type="submit"]:hover,
#content.informe-video input[type="submit"]:hover {
    background-image: none;
}
#content.informe-video input[type="submit"],
#content.formulario input[type="submit"] {
    text-shadow: 0px 1px 0px #373737;
}
#content.formulario input[type="reset"] {
    text-shadow: 0px 1px 0px #fff;
}

#loginbox form.form-nueva input[type="submit"],
#content.informe-video input[type="submit"],
#content.formulario input[type="submit"],
#content.formulario input[type="reset"] {
    color: #fff;
    border: 0px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
   
    padding: 8px 60px;
    font: bold 12px Arial;
    letter-spacing: 1px;
    margin-top: 5px;
    float: right;
    cursor: pointer;
    background: #2b84d8 url("../img/title-bg.png") 0 0 repeat-x;
    border: solid 1px #336699;
    overflow: hidden;
}

#content.informe-video form.form-validacion {
    overflow: hidden;
    margin-top: 10px;
    margin-left: 10px;
}

#content.informe-video .form-validacion-opciones {
    overflow: hidden;
    padding-bottom: 10px;
}

#content.formulario input[type="reset"] {
    color: #949494;
    margin-right: 20px;
    margin-top: 9px;
    padding: 4px 10px;
    float: left;
    font-size: 11px;
    background: #ececec url("../img/title-bg.png") 0 0 repeat-x;
    border: solid 1px #cccccc;
}

#content.formulario input[type="submit"]:hover,
#content.formulario input[type="reset"]:hover {
    background-image: none;
}

#content.formulario p select {
    height: 30px;
    width: 312px;
}

#content.informe-video p textarea,
#content.formulario p textarea {
    height: 150px;
    width: 400px;
}


#content.informe-video p textarea {
    width: 450px;
}

#content-left {
    float: left;
    overflow: hidden;
    width: 70%;
}

#inner-content-left {
    margin: 0 auto;
    width: 100%;
}
#content-right {
    float: right;
    width: 27.5%;
}

#content-left .portlet,
#content-right .portlet {
    background: #F4F4F4;
}

#content-left .portlet-content ul,
#content-right .portlet-content ul {
    padding: 0px;
}

#content-left .portlet-content ul li,
#content-right .portlet-content ul li,
#content-right #right-block ul li {
color: #373737;    
font: normal 13px Arial;
margin: 10px 0px;
}


#content-left .portlet-content ul li.tip,
#content-right .portlet-content ul li.tip {
    background: url(../img/icon/lightbulb.png) 0 0 no-repeat;
    padding-left: 25px;
}

a.link {
    background: url(../img/icon/link16.png) 0 0 no-repeat;
    padding-left: 25px;
    text-decoration: none;
    color: #373737;
}

a.link:hover {
    text-decoration: underline;
}

/* Barra de progreso formulario: Nueva producción */
#progreso {
    height: 32px;
    margin-bottom: 15px;
}

#progreso.uno { background: url(../img/barra-progreso-new.png) 50% 0 no-repeat; }
#progreso.dos { background: url(../img/barra-progreso-new.png) 50% -32px no-repeat; }
#progreso.tres { background: url(../img/barra-progreso-new.png) 50% -64px no-repeat; }




#content-left h2 {
    font: normal 20px Arial;
    color: #e98b59;
    margin-bottom: 10px;
    text-shadow: 0px 1px 0px #f5e0d6;
}

.status #content-left h2 {
    margin-bottom: 5px;
    margin-top: 10px;
}


/* Selección de archivos */
.navegador {
    width: 540px;
    height: 150px;
    border: solid 1px #BBB;
    background: #FFF;
    overflow: auto;
    padding: 5px;
}

#content #tabla form {
    margin-top: 0px;
}
#content form {
    margin-top: 5px;
    overflow: hidden;
    margin-bottom: 10px;
}

#content.formulario.paso2 form h3{
    color: #336699;
    font: bold 13px Arial;
    clear: both;
    padding-bottom: 5px;
}
#content.formulario.paso2 form p label {
    display: none;
}
#content.formulario.paso2 form p {
    margin-top: 5px;
}
#content.formulario.paso2 form p input[type="text"] {
}

#content.formulario.paso2 ul.errorlist {
    margin-left: 0px;
    margin-top: 15px;
}

#content.formulario #volver a {
    text-decoration: none;
    font: bold 12px Arial;
    background: #c1d1e0 url("../img/title-bg.png") 0 0 repeat-x;
    color: #336699;
    padding: 0px 10px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    display: block;
    line-height: 33px;
    border: solid 1px #99b2cc;
    text-shadow: 0px 1px 0px #ddd;
}

#content.formulario #volver a:hover {
    background-image: none;
}
#content.formulario #volver {
    float: right;
    height: 33px;
    margin-top: 5px;
    margin-right: 10px;
}


/* Formateando las tablas */

.portlet-content #tabla {
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius:0px;
    margin: 0px;
}

.portlet-content #tabla th {
    font-size: 10px;
    height: 20px;
    line-height: 20px;
    border-bottom: solid 1px #373737;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius:0px;

}

.portlet-content #tabla th:first-child,
.portlet-content #tabla th:last-child {
    -moz-border-radius: 0px;
     -webkit-border-radius: 0px;
    border-radius:0px;
   
}

.portlet-content #tabla tbody tr td{
    padding: 7px 10px;
}
#tabla {
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-topright: 8px;
    -webkit-border-top-right-radius: 8px;
    -webkit-border-top-left-radius: 8px;
    border-top-left-radius:8px;
    border-top-right-radius:8px;

    border-collapse: separate;
    margin-bottom: 30px;
}
#tabla th {
    height: 32px;
    text-align: left;
    padding: 0px;
    margin: 0px;
    font: bold 13px Arial;
    line-height: 32px;
    color: #373737;
    text-shadow: 1px 1px 0px #fff;
    border-bottom: solid 2px #373737;
    background: #eeeeee url(../img/title-bg.png) 0 0 repeat-x;
    padding-left: 10px;
}

#tabla thead th:first-child {
    -moz-border-radius-topleft: 8px;
    -webkit-border-top-left-radius: 8px;
    border-top-left-radius:8px;
}

#tabla thead th:last-child {
    -moz-border-radius-topright: 8px;
    -webkit-border-top-right-radius: 8px;
    border-top-right-radius:8px;
   
}


#tabla tbody tr td:last-child {
}
#tabla tbody tr td{
    padding: 10px;
    border-bottom: solid 1px #dedede;
    border-collapse: collapse;
}
#tabla {
    min-width: 100%;
    width: 100%;
}

#tabla tbody tr:hover {
    background: #F4F4F4;
    
}


#tabla.cola th.type {
    width: 180px;
}
#tabla.cola th.status {
    width: 100px;
}
#tabla.cola th.log {
    width: 135px;
}

#tabla.infobasica th.date {
    width: 180px;
}
#tabla.cola th.date {
    width: 160px;
}
#tabla th.date {
    width: 120px;
}
#tabla tbody td.date {
    color: #666666;
}

#tabla th.oper {
    width: 75px;
}

#tabla th.autor {
    width: 120px;
}
#tabla th.email {
    width: 100px;
}

#tabla tbody td.id,
#tabla tbody td.oper {
    text-align: center;
}
#tabla tbody td.oper {
    font-weight: bold;
}
#tabla tbody td {
    font-size: 11px;
}

#tabla th.status {
    width: 125px;
}

#tabla th.id {
    width: 35px;
}

#tabla tbody td.title {
    font-size: 12px;
}
#tabla a,
#tabla td.title a {
    color: #05396B;
    text-decoration: none;
    background: url(../img/icon/link-estado.png) 0 50% no-repeat;
    padding-left: 12px;
    font-size: 11px;
}
#tabla a {
    background-image: url(../img/icon/links12.png);
    padding-left: 17px;
}

#tabla a:hover {
    text-decoration: underline;
}

#tabla td.Hecho {
    background: url(../img/icon/check16.png) 50% 10px no-repeat;
}
#tabla td.Error {
    background: url(../img/icon/error16.png) 50% 10px no-repeat;
}
#tabla td.Procesando {
/*    background: url(../img/icon/time16.png) 50% 10px no-repeat;*/
}
#tabla td.Pendiente {
    background: url(../img/icon/pendiente16.png) 50% 10px no-repeat;
}

#tabla tbody td ul li{
    padding-bottom: 2px;
}


#tabla th.meta-param {
    min-width: 30%;
}

#tabla td.section {
    font-weight: bold;
    background: #efefef;

}

#tabla.log tr td.icon {
    padding-left: 33px;
    padding-right: 10px;
    width: 45px;
    font-size: 11px;
}

#tabla.log tr.info td.icon{
    background: url(../img/icon/info16.png) 10px 10px no-repeat;
    color: #336699; 
}
#tabla.log tr.error td.icon{
    background: url(../img/icon/error16.png) 10px 10px no-repeat;
    color: #CE2700; 
}
#tabla.log tr.warning td.icon{
    background: url(../img/icon/warning16.png) 10px 10px no-repeat;
    color: #c26b15; 
}
#tabla.log tr.debug td.icon{
    background: url(../img/icon/debug16.png) 10px 10px no-repeat;
    color: #6DA84C; 
}

#tabla.log tr.warning {
    background: #FFF4CC;
}

#tabla.log tr.error {
    background: #FBD3B1;
}
#tabla.log tr.debug {
    background: #E0F2CB;
}

#tabla td.on,
#tabla td.ok {
    background: url(../img/icon/check16.png) 50% 50% no-repeat;
}

#tabla td.off,
#tabla td.err {
    background: url(../img/icon/error16.png) 50% 50% no-repeat;
}


#tabla input[type="submit"].off,
#tabla input[type="submit"].on {
    color: #fff;
    border: 0px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 5px 30px;
    font: bold 12px Arial;
    letter-spacing: 1px;
    cursor: pointer;
}

#tabla input[type="submit"].off {
    background: #6DA84C;
}


#tabla input[type="submit"].on {
    background: #CE2700;
}


#lista-alertas .alerta {
    background: #f6f6f6;
    margin-bottom: 10px;
    border: solid 1px #ccc;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3xp;
    border-radius: 3px;
}

.portlet-content #lista-alertas .alerta {
    border-left: 0px;
    border-right: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

.alerta-header {
    padding: 5px;
   cursor: pointer;
   background: url(../img/title-bg.png) 0px 0px repeat-x;   
}
.alerta-header span.icon-title {
    padding-left: 25px;
}
.cron .alerta-header,
.disco .alerta-header,
.ruta .alerta-header,
.ejecutable .alerta-header,
.trabajo-fail .alerta-header {
   background-color: #FFCECE;
    border-bottom: 2px solid #C32700;
}

.token-caducado .alerta-header,
.video-incompleto .alerta-header {
    background-color: #FFFBCC;
    border-bottom: 2px solid #E6DB55;
}

.cron .alerta-header span.icon-title,
.disco .alerta-header span.icon-title,
.ruta .alerta-header span.icon-title,
.ejecutable .alerta-header span.icon-title,
.trabajo-fail .alerta-header span.icon-title { background: url(../img/icon/error16.png) 0 0 no-repeat; }
.token-caducado .alerta-header span.icon-title,
.video-incompleto .alerta-header span.icon-title{ background: url(../img/icon/warning16.png) 0 -1px no-repeat; }

.alerta .alerta-header .icon {
    float: right;
    background: url(images/ui-icons_217bc0_256x240.png) -48px -128px no-repeat;
    display: block;
    height: 16px;
    width: 16px;
    cursor: pointer;
}
.alerta .alerta-header .icon.plus {
    background: url(images/ui-icons_217bc0_256x240.png) -16px -128px no-repeat;
}

.alerta .alerta-links ul {
    margin: 3px;
}

.alerta .alerta-content {
    display: none;
}
.alerta .alerta-content ul.item-alerta li{
    margin-bottom: 3px;
}
.alerta .alerta-content ul.item-alerta{
    margin: 5px;
    overflow: hidden;
}
.alerta .alerta-content span.item-alerta-content {
    float: left;
    display: block;
/*    width: 75%;*/
}
.alerta .alerta-content span.item-alerta-title {
    width: 150px;
    display: block;
    float: left;
    color: #373737;
    font-weight: bold;
    letter-spacing: 0px;
}

#lista-alertas .alerta-links{
    overflow: hidden;
    margin-bottom: 3px;
    margin-left: 2px;
}
#lista-alertas li.item-alerta-links {
    float: left;
}
#lista-alertas .item-alerta-links a.edit-icon {
    font-size: 11px;
    font-family: Arial;
    color: #336699;
    text-decoration: none;
     background: #fff url(../img/icon/links12.png) 3px 50% no-repeat;
    padding: 2px 5px;
    padding-left: 20px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    border: solid 1px #ccc;
    line-height: 25px;
    margin-right: 5px;
}


#lista-alertas .item-alerta-links a.edit-icon:hover {
    background-color: #F6F6F6;
    text-decoration: underline;
}





/* Progress bar container */
.progressbar{
border:1px solid #373737;
width:100%;
height:20px;
position:relative;
color: #373737;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;

}
/* color bar */
.progressbar div.progress{
position:absolute;
width:0;
height:100%;
overflow:hidden;
background-color:#369;
}
/* text on bar */
.progressbar div.progress .text{
position:absolute;
text-align:center;
color: #fff;
}
/* text off bar */
.progressbar div.text{
position:absolute;
width:100%;
height:100%;
text-align:center;
}


a.log-icon {
    background: url(../img/icon/archives12.png) 0 50% no-repeat;
    padding-left: 16px;
    font: normal 11px Arial;
    color: #336699;
    text-decoration: none;
}

a.log-icon:hover {
    text-decoration: underline;
}




.informe-video .info-prevideo {
    width: 480px;
    height: 270px;
    border: solid 1px #dddddd;
    padding: 6px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin: 0 auto;
    margin-bottom: 15px;
}


.informe-video .info-prevideo #container {
    margin-bottom: 6px;
}
.informe-video .info-prevideo ul li {
    float: left;
    margin: 0px 10px;
}
.informe-video .info-prevideo ul {

    padding-top: 7px;
    border-top: solid 1px #ddd;
}
.informe-video .info-prevideo a:hover {
    text-decoration: underline;
}
.informe-video .info-prevideo a {
    font: normal 11px Arial;
    color:#373737;
    text-decoration: none;
}

#tabla.cola td.log a.chain,
a.chain {
    background: url(../img/icon/chain12.png) 0 50% no-repeat;
    padding-left: 16px;
}
a.email {
    background: url(../img/icon/email12.png) 0 50% no-repeat;
    padding-left: 16px;
}


#tabla a.email {
    background: none;
    padding: 0px;
}
.informe-video .info-basica {
    margin-left: 500px;
    padding: 10px;
}

.info-basica ul {
    margin: 0px 10px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.info-basica li a:hover {
    text-decoration: underline;
}
.info-basica li a {
    text-decoration: none;
    color: #373737;
}
.info-basica li {
    overflow: hidden;
    line-height: 28px;
}
.info-basica label {
    width: 170px;
}

#info-menu {
    border-bottom: solid 1px #D6E0EB;
    margin-bottom: 20px;
    min-height: 33px;
}

ul#tab-menu {
    margin-left: 10px;
}

ul#tab-menu li {
    float: left;
    border: solid 1px #D6E0EB;
    -moz-border-radius-topleft:3px;
    -moz-border-radius-topright:3px;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    margin-right: 10px;
    margin-bottom: -1px;
    background: #f1f4f8 url(../img/title-bg.png) 0 20px repeat-x;
}

ul#tab-menu li.current {
    background: #fff;
    border-bottom: solid 1px #fff;
}

ul#tab-menu li a {
    height: 17px;
    display: block;
    border-top: solid 1px #fff;
    font-size: 13px;
    font-weight: bold;
    padding: 7px 18px;
    padding-left: 35px;
    text-decoration: none;
    color: #336699; 
}

ul#tab-menu li a:hover {
    text-decoration: underline;
}

a.resumen {
    background: url(../img/icon/estado16.png) 10px 45% no-repeat;
}

a.meta {
    background: url(../img/icon/metadata16.png) 10px 45% no-repeat;
}

a.ticket {
    background: url(../img/icon/ticket16.png) 10px 45% no-repeat;
}

a.historico {
    background: url(../img/icon/historico16.png) 10px 45% no-repeat;
}


ul.acciones {
    overflow: hidden;
    margin: 10px 0px 0px 10px;
    padding: 0px;
    margin-bottom: 30px;
}
ul.acciones li {
    float: left;
    margin-right: 20px;
}
ul.acciones li a {
    padding: 5px 15px;
    font-size: 11px;
    font-weight: bold;
    padding-left: 30px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}


ul.acciones li.borrar {
line-height: 23px;
margin-top: 2px;
}
ul.acciones li.borrar a  {
    padding-top: 3px;
    padding-bottom: 3px;
    border: solid 1px #CE2700;
    color: #CE2700;
    background: #FFF url(../img/icon/error16.png) 5px 50% no-repeat;
    line-height: 20px;
}

ul.acciones li.borrar a:hover {
    background: #CE2700 url(../img/icon/error16.png) 5px 50% no-repeat;
    color: #fff;
    text-decoration: none;
}

ul.acciones li.validar a  {
    font-size: 13px;
    color: #fff;
    border: solid 1px #6DA84C;
    background: #6DA84C url(../img/icon/check16.png) 5px 50% no-repeat;
    line-height: 28px;
}

ul.acciones li.publicar a  {
    font-size: 13px;
    color: #fff;
    border: solid 1px #336699;
    background: #336799 url(../img/icon/publicar16.png) 5px 50% no-repeat;
    line-height: 28px;
}

#no-disponible {
    height: 270px;
    width: 480px;
    background: #fff url(../img/icon/warning48.png) 50% 90px no-repeat;
}

#no-disponible p {
    padding-top: 150px;
    text-align: center;
}

/* INICIO */

.column {
    width: 50%;
    float: left;
    min-height: 80px;
}

#content-right .column {
    width: 100%;
}
.portlet { 
    border: solid 1px #E9E9E9;
    border-color: #cccccc #dddddd #cccccc;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding-bottom: 5px;
    margin-bottom: 15px;
    margin: 0px 8px 15px;
    background: #fff; 
}

#content-right .portlet {
    margin: 0px;
    margin-bottom: 20px;
}

.ui-widget-header {
    border: 0px;
}
.portlet-header {
    color: #ffffff;
    height: 22px;
    padding: 4px 8px;
    font: bold 13px Arial;
    background: #2B84D8 url(../img/title-bg.png) 0 0 repeat-x;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    text-shadow: 0px 1px 0px #373737;
    -moz-border-radius-topleft:4px;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    line-height: 22px;
    -moz-border-radius-topright:4px;
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius:4px;
    cursor: move;
}

.portlet-header .ui-icon {
    float: right;
    display: block;
    height: 13px;
    width: 13px;
    cursor: pointer;
    margin-top: 2px;
}

#content-left .portlet-content,
#content-right .portlet-content {
    margin: 10px;
}

ul.portlet-bottom-link {
    margin-top: 4px;
    margin-bottom: 0px;
    text-align: right;
    overflow: hidden;
}

ul.portlet-bottom-link li {
    margin-right: 10px;
}
ul.portlet-bottom-link li a.link-section {
    font: normal 11px Arial;
    color: #336699;
    text-decoration: none;
    margin-top: 5px;
    height: 20px;
    background: url(../img/icon/link-arrow.png) 0 50% no-repeat;
    padding-left: 12px;
}


ul.portlet-bottom-link li a.link-section:hover {
text-decoration: underline;
}


.ui-sortable-placeholder {
    border: 2px dashed #ccc;
    visibility: visible !important;
    height: 50px !important;
}

.ui-sortable-placeholder * {
    visibility: hidden;
}

.ui-progressbar {
    float: left;
    width: 130px;
    height: 11px;
    text-align: left;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    margin-bottom: 5px;
    border: solid 1px #373737;
}

.ui-progressbar .ui-progressbar-value {
    height: 100%;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;  
    margin-bottom: 5px;
    margin: 0px;
}

.ui-progressbar-value {
    background: url(../img/progressbar-bgani.png) 50% 50% repeat-x;
}

.progressbartext {
   margin-left: 4px;
   float: left;
   font: normal 10px Arial;
   color: #444444;
}

.info-ticket ul {
    margin: 0px 10px;
}
.info-ticket textarea {
    width: 99%;
    height: 50px;
    margin-top: 5px;
}

.info-ticket td.expirado { background: #FFCECE url(../img/icon/error16.png) 5px 50% no-repeat; }
.info-ticket td.valido { background: #d5ffce url(../img/icon/check16.png) 5px 50% no-repeat; }

.info-ticket td.expirado span,
.info-ticket td.valido span {
    margin-left: 20px;
}

span.ajax-loader {
    background: url("../img/ajax-loader.gif") 50% 0 no-repeat;
    height: 32px;
    width: 32px;
    margin: 10px auto;
    display: block;
}

.form-validacion-rechaza {
    display: none;
}

#content form.form-buscador {
    width: 229px;
    margin: 0 auto;
    margin-top: 10px;
    overflow: hidden;
}

#content form.form-buscador li hr {
    margin: 0px;
    padding: 0px;
}
#content form.form-buscador li {
    margin: 0px;
    padding: 0px;
    margin-bottom: 15px;
    overflow: hidden;
}
#content form.form-buscador li.form-nombre {
   color: #336699;
   font: bold 12px Arial;
   text-align: left;
    margin-bottom: 3px;
}

#content form.form-buscador li select,
#content form.form-buscador li input[type="text"] {
   border: solid 1px #acacac;
   -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;

   height: 20px;
   padding: 3px 5px;
   width: 217px;
}
#content form.form-buscador li select {
    height: 26px;
    width: 227px;
}

#content form.form-buscador li ul {
    overflow: hidden;
    margin-left: 11px;
}

#content form.form-buscador li ul li.form-nombre {
    font-weight: normal;
    font-size: 10px;
    line-height: 24px;
    margin: 0px 5px;
}

#content form.form-buscador li ul li {
    float: left;
    margin-bottom: 0px;
}

#content form.form-buscador li ul li input[type="text"] {
    width: 70px;
    margin-bottom: 0px;
    height: 15px;
    padding: 3px;
}

#content form.form-buscador li input[type="submit"]:hover {
    background-image: none;
}
#content form.form-buscador li input[type="submit"] {
    background: #2B84D8 url("../img/title-bg.png") 0 0 repeat-x;
    border: solid 1px #336699;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;

    color: #fff;
    cursor: pointer;
    float: right;
    font: bold 12px Arial;
    letter-spacing: 1px;
    padding: 5px 30px;
    text-shadow: 0px 1px 0px #373737;
}

a.reset:hover {
    background-image: none;
}
a.reset {
    background: #ececec url("../img/title-bg.png") 0 0 repeat-x;
    border: solid 1px #ccc;
    color: #949494;
    float: left;
    margin-top: 5px;
    padding: 3px 8px;
    font: bold 10px Arial;
    text-decoration: none;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;

    letter-spacing: 1px;
    text-shadow: 0px 1px 0px #fff;
}

#content form.form-buscador li:last-child {
    margin-bottom: 0px;
}


.formulario-nueva {
    width: 630px;
    margin: 0 auto;
}

.portlet-content .mensaje{
    margin: 10px;
}

form.form-nueva ul {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}


form.form-nueva ul li {
    margin-bottom: 20px;
    font-size: 11px;
    color: #888;
}

form.form-nueva ul.jqueryFileTree li {
    margin: 0px;
}

form.form-nueva label {
    color: #336699;
    color: #555555;
    font: bold 13px Arial;
    text-align: left;
    display: block;
    margin-bottom: 3px;
}


form.form-nueva select,
form.form-nueva textarea,
form.form-nueva input[type="password"],
form.form-nueva input[type="text"] {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;

    height: 20px;
    padding: 3px 5px;
    width: 615px; 
    border: solid 1px #d5d5d5;
    background: #fff url("../img/bg-form.gif") left top repeat-x;
    padding: 6px;
}
.paso3 form.form-nueva select,
.paso3 form.form-nueva textarea,
.paso3 form.form-nueva input[type="text"] {
    background: #efefef;

}

form.form-nueva ul li textarea {
    height: 150px;    
}

form.form-nueva ul li select {
    height: 28px;
    width: 627px;
}

form.form-nueva ul.errorlist {
    color: #666452;
    border: solid 1px #DF8F8F;
    background: #FFCECE url(../img/icon/error16.png) 5px 50% no-repeat;
    padding: 8px;
    padding-left: 30px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;

    margin-bottom: 5px;
    width: 587px;

}

form.form-nueva ul.errorlist li{
    margin: 0px;
    padding: 0px;
}


.info-interes li {
    text-shadow: 1px 1px 0px #eee;
}

.pagination a,
.pagination {
    color: #373737;
    font: normal 11px Arial;
    text-decoration: none;
}

.pagination a:hover {
    text-decoration: underline;
}
