
body {
    background: url(../img/login_bg.jpg) 0 0 no-repeat;
    font: normal 12px Arial;
    margin: 0px;
    padding: 0px;
}



/* login.html */

#loginbox {
    width: 508px;
    margin: 0 auto;
    background: url(../img/loginbox_bg.png) 0 0 no-repeat;
    height: 272px;
    margin-top: 150px;
}

#loginbox form {
    padding: 25px;
}

#loginbox form ul {
    list-style: none;
    width: 365px;
    margin: 0px auto;
    padding: 0px;
margin-top: 65px;
}

#loginbox form li {
    margin-bottom: 10px;
    overflow: hidden;
}
#loginbox form li label {
    width: 135px;
    display: block;
    clear: both;
    float: left;
    margin-right: 15px;
    text-align: right;
    color: #336699;
    font: bold 14px Arial; 
    text-shadow: -1px 1px #ddd;
    line-height: 28px;
}

#loginbox form li input {
    float: left;
    clear: right;
    line-height: 25px;
    border: solid 1px #336699;
    -moz-border-radius: 2px;
    padding: 5px;
    color: #555555;
    width: 200px;
}

#loginbox input[type="submit"] {
    background: #336699;
    color: #fff;
    border: 0px;
    -moz-border-radius: 3px;
    float: right;
    margin-right: 54px;
    padding: 4px 15px;
    font-size: 12px;
}



/* Footer-box */

.footer-box {
    bottom: 0px;
    position: absolute;
    padding: 0px;
    margin: 0px;
    width: 100%;
}

.footer-content {
    margin: 0px 30px;
    border-top: solid 1px #336699;
    overflow: hidden;
}


.footer-content ul {
    list-style: none;
    margin: 0px;
    margin-bottom: 15px;
    padding: 10px 20px;
    overflow: hidden;
}

.footer-content ul li {
    float: left;
    margin-right: 20px;
    color: #4775a3;
}

.footer-content ul li a{
    text-decoration: none;
    font-size: 13px;
    color: #5c85ad;
}


.footer-content ul li a:hover {
    text-decoration: underline;
}

.footer-content ul li.name {
    float: right;
    color: #033769;
}
